<section class="list" aria-labelledby='all-list-items-header' id='all-list-items'>
  <h4 id='all-list-items-header'>Items with tag "<%= tag.title %>"</h4>

  <table class='links-table'>
    <tbody>
      <% tag.tagged_documents.each do |item| %>
        <tr class='item'
            data-title='<%= item.title %>'
            data-base-path='<%= item.base_path %>'>

          <td class='title'>
            <%= raw item.title %>
          </td>

          <td class='base-path'>
            <%= raw item.base_path %>
          </td>

          <td class='removal-button'>
            <%= button_to '#',
              method: :delete,
              data: { toggle: 'tooltip' },
              title: 'Remove item from list',
              class: 'remove-button btn btn-xs btn-default' do %>
              <%= icon :remove %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
