<%= content_for :back_link, render("govuk_publishing_components/components/back_link", {
  href: polymorphic_path(@tag)
}) %>

<%= content_for :page_title, "Update list name" %>

<%= render 'shared/error_summary', object: @list %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl gem-c-title__context">
      Rename a list
    </span>

    <%= form_for @list, url: tag_list_path(@tag, @list), method: :patch do |f| %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Update a list"
        },
        name: "list[name]",
        id: "list_name",
        value: @list.name,
        heading_level: 1,
        heading_size: "l",
        error_items: errors_for(@list, :name)
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Update name"
      } %>
    <% end %>
  </div>
</div>
