<h1>Curated lists for "<%= @tag.title %>"<%= " (draft)" if @tag.draft? %></h1>

<% if @tag.untagged_list_items.any? %>
  <%= render 'untagged_list_items', tag: @tag %>
<% end %>

<% unless @tag.draft? %>
  <%= render 'publish_button', tag: @tag %>
<% end %>

<%= render 'new_list', tag: @tag %>
<%= render 'list_editor', lists: @lists, tag: @tag %>
<%= render 'uncategorized_list_items', lists: @lists, tag: @tag %>
