<h1>Curated lists for "<%= @topic.title %>"<%= " (draft)" if @topic.draft? %></h1>

<% if @topic.untagged_list_items.any? %>
  <%= render 'untagged_list_items', topic: @topic %>
<% end %>

<% unless @topic.draft? %>
  <%= render 'publish_button', topic: @topic %>
<% end %>

<%= render 'new_list', topic: @topic %>
<%= render 'list_editor', lists: @lists, topic: @topic %>
<%= render 'uncategorized_list_items', lists: @lists, topic: @topic %>
