<%= tag_header @tag, 'Lists' %>

<%= render 'publish_button', tag: @tag %>

<div class='row'>
  <div class='col-md-6'>
    <%= render 'all_list_items', lists: @lists, tag: @tag %>
  </div>

  <div class='col-md-6'>
    <%= render 'list_editor', lists: @lists, tag: @tag %>

    <h4>New list</h4>
    <%= render 'new_list', tag: @tag %>
  </div>
</div>
