<h1>Curated lists for "<%= sector.title %>"<%= " (draft)" if sector.draft? %></h1>

<% if sector.untagged_contents.any? %>
  <div class='untagged-contents subtle-highlight'>
    <p>
      <strong>Warning</strong>: this content has been curated but is not tagged to this sector.
      Please either remove it or re-tag it to the sector.
    </p>

    <table class='table table-hover'>
      <thead>
        <tr>
          <th class='title'>Title</th>
        </tr>
      </thead>

      <tbody>
        <% sector.untagged_contents.each do |content| %>
          <tr>
            <td class='title'><%= content.title %></td>
            <td class='remove'><%= button_to 'Remove', sector_list_content_path(sector, content.list, content), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% unless sector.draft? %>
  <p>
    <%= button_to 'Publish', sector_publish_path(sector),
          method: :put,
          class: "btn btn-success publish js-confirm",
          :'data-confirm-text' => "Are you sure you want to publish this immediately to GOV.UK?",
          disabled: !sector.dirty?
    %>
  </p>
<% end %>

<%= form_for([sector, List.new], html: {id: 'new-list'}) do |f| %>
  <h2>New list</h2>
  <%= f.text_field :name %>

  <button class='btn btn-primary'>Create</button>
<% end %>

<div class="curated-lists">
  <% sector.ordered_lists.each do |list| %>
    <section
      class="list"
      aria-labelledby='list-<%= list.id %>-header'
      id='list-<%= list.id %>-section'
      data-index='<%= list.index %>'
      data-update-url='<%= sector_list_path(sector, list) %>'
    >
      <h2 id='list-<%= list.id %>-header'><%= list.name %></h2>
      <ul>
        <li><%= link_to 'Edit name', edit_sector_list_path(sector, list) %></li>
        <li>
          <%= button_to 'Delete list', sector_list_path(sector, list),
                method: :delete,
                class: 'js-confirm',
                :'data-confirm-text' => 'Are you sure you want to delete this list and all its content?'
          %>
        </li>
      </ul>

      <table class='table table-hover'>
        <thead>
          <tr>
            <th class='index'>Index</th>
            <th class='title'>Title</th>
            <th class='api-url' colspan='2'>API URL</th>
          </tr>
        </thead>

        <tbody class='curated-list' data-list-id='<%= list.id %>'>
          <tr class='empty-list'><td>Empty</td></tr>
          <% list.tagged_contents.each do |content| %>
            <tr
              data-update-url='<%= sector_list_content_path(sector, list, content) %>'
              data-index='<%= content.index %>'
              data-list-id='<%= list.id %>'
            >
              <td class='index'><%= content.index %></td>
              <td class='title'><%= content.title %></td>
              <td class='api-url'><%= content.api_url %></td>
              <td class='remove'><%= button_to 'Remove', sector_list_content_path(sector, list, content), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= form_for([sector, list, Content.new], html: {id: nil}) do |f| %>
        <%= f.text_field :api_url, label: 'API URL' %>
        <%= f.number_field :index %>

        <button class='btn btn-primary'>Add</button>
      <% end %>
    </section>
  <% end %>
</div>

<section class="list" aria-labelledby='list-uncategorized-header' id='list-uncategorized-section'>
  <h2 id='list-uncategorized-header'>Uncategorized (A to Z)</h2>
  <p><b>Note:</b> These will not be displayed to users</p>

  <table class='table table-hover'>
    <thead>
      <tr>
        <td class='title'>Title</th>
        <th class='api-url'>API URL</th>
      </tr>
    </thead>

    <tbody class='curated-list'>
      <tr class='empty-list'><td colspan='2'>Empty</td></tr>
      <% sector.uncategorized_contents.each do |content| %>
        <tr>
          <td class='title'><%= content.title %></td>
          <td class='api-url'><%= content.api_url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
