<%= content_for :back_link, render("govuk_publishing_components/components/back_link", {
  href: tag_list_path(@tag, @list)
}) %>

<%= content_for :context, "List" %>

<% content_for :title, "Reorder links" %>

<%= render 'shared/error_summary', object: @list %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @list, url: update_list_item_ordering_tag_list_path(@tag, @list), method: :patch do |f| %>
      <div class="govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/reorderable_list", {
          items: @list.list_items.ordered.map do |list_item|
            {
              id: list_item.id,
              title: list_item.title,
            }
          end
        } %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Update order",
        } %>
      </div>
    <% end %>
  </div>
</div>
