<%= render 'shared/breadcrumbs', {
  links: [
    {
      text: @tag.is_a?(MainstreamBrowsePage) ? "Mainstream browse pages" : "Topics",
      href: @tag.is_a?(MainstreamBrowsePage) ? mainstream_browse_pages_url : topics_url
    },
    *([
      text: @tag.parent[:title],
      href: polymorphic_path(@tag.parent)
    ] if @tag.parent.present? ),
    {
      text: @tag[:title],
      href: polymorphic_path(@tag),
    },
    {
      text: "List",
    }
  ].compact
} %>

<%= content_for :context, "List" %>

<% content_for :title, @list.name %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <%= render "govuk_publishing_components/components/heading", {
            text: "Links",
            font_size: "m",
            margin_bottom: 4
          } %>
      </div>

      <div class="govuk-grid-column-one-half app-grid-column--align-right">
        <ul class="govuk-summary-list__actions-list gem-c-summary-list__group-actions-list">
          <li class="govuk-summary-list__actions-list-item">
            <%= link_to 'Add links to list',
              edit_list_items_tag_list_path(@tag, @list),
              class: %w(govuk-link govuk-link--no-visited-state govuk-body)
            %>
          </li>
          <% if @list.list_items.count > 1 %>
            <li class="govuk-summary-list__actions-list-item">
              <%= link_to 'Reorder links',
                manage_list_item_ordering_tag_list_path(@tag, @list),
                class: %w(govuk-link govuk-link--no-visited-state govuk-body)
              %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if @list.list_items.present? %>
      <p class="govuk-body">Select page to edit tagging in Content Tagger</p>
    <% end %>

    <div class="list-items">
      <% @list.list_items.ordered.each do |list_item| %>
        <% if @tag.lists_that_do_not_include_list_item(list_item).present? %>
          <% metadata = {
                move_list_item: tag.a("Move to a different list", href: move_tag_list_list_item_path(@tag, @list, list_item), class: "govuk-link govuk-body"),
                remove_list_item: tag.a("Remove", href: confirm_destroy_tag_list_list_item_path(@tag, @list, list_item), class: "govuk-link govuk-body"),
              } %>
        <% else %>
          <% metadata = { remove_list_item: tag.a("Remove", href: confirm_destroy_tag_list_list_item_path(@tag, @list, list_item), class: "govuk-link govuk-body") } %>
        <% end %>

        <%= render "govuk_publishing_components/components/document_list", {
          items: [
            {
              link: {
                text: list_item.title,
                path: Plek.new.website_root + list_item.base_path
              },
              metadata: metadata
            },
          ]
        } %>
      <% end %>
    </div>
    <div class="govuk-!-margin-bottom-7 govuk-!-margin-top-9">
      <%= link_to "Return to previous page", polymorphic_path(@tag), class: "govuk-link govuk-body" %>
    </div>
  </div>
</div>
