<%
  links = [
    {
      text: 'Coronavirus pages',
      href: coronavirus_pages_path
    },
    {
      text: "#{@page.name}",
      href: coronavirus_page_path(slug: @page.slug)
    },
    {
      text: t("coronavirus.pages.timeline_entries.reorder.heading")
    },
  ]
%>
<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, formatted_title(@page)%>
<% content_for :context, t("coronavirus.pages.timeline_entries.reorder.heading") %>

<div class="covid-manage-page govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render_markdown t("coronavirus.pages.timeline_entries.reorder.form.markdown_hint") %>

    <%= form_with method: :put, url: reorder_coronavirus_page_timeline_entries_path do |form| %>
      <%= render "reorder_list" %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/button", {
            text: "Save"
          } %>
          <%= link_to 'Cancel', coronavirus_page_path(@page.slug), class: "govuk-link govuk-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
