<%= header "Alpha Taxons", breadcrumbs: ["Taxons"] do %>
  <%= link_to 'Add a taxon', new_taxon_path, class: 'btn btn-lg btn-default' %>
<% end %>

<table class="tags-list">
<tr>
  <th>Title</th>
  <th>Slug</th>
  <th></th>
  <th></th>
</tr>
<% taxons.each do |taxon| %>
  <tr>
    <td><%= taxon['title'] %></td>
    <td><%= link_to taxon['base_path'], "#{Plek.new.find('www') + '/api/content' + taxon['base_path']}" %></td>
    <td><%= link_to 'View tagged', taxon_path(taxon['content_id']) %></td>
    <td><%= link_to 'Edit taxon', edit_taxon_path(taxon['content_id']) %></td>
  </tr>
<% end %>
</table>
