<% content_for :title, "Edit the #{@page.name}" %>
<% content_for :context, "www.gov.uk#{@page.base_path}" %>
<%= render "govuk_publishing_components/components/lead_paragraph", {
  text: t("coronavirus.something_else_from_github.description", coronavirus_page_name: @page.name)
} %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "coronavirus/pages/prepare/github", github_url: @page.github_url %>
    <%= render "coronavirus/pages/prepare/draft" %>
    <%= render "coronavirus/pages/prepare/preview", path: @page.base_path %>
    <%= render "coronavirus/pages/prepare/publish" %>
    <%= render "coronavirus/pages/prepare/live", path: @page.base_path %>
  </div>
</div>
