<% preview_link = render "govuk_publishing_components/components/button", {
  text: "Preview",
  href: preview_url(@step_by_step_page.slug, auth_bypass_id: @step_by_step_page.auth_bypass_id),
  secondary: true
} %>

<div class="app-side">
  <div class="app-side__actions">
    <% if @step_by_step_page.scheduled_for_publishing? %>
      <%= preview_link %>
      <p class="govuk-body">Scheduled to be published at <%= format_full_date_and_time(@step_by_step_page.scheduled_at) %></p>
      <%= link_to "Unschedule",
        step_by_step_page_unschedule_path(@step_by_step_page),
        method: :post,
        class: %w(govuk-link govuk-link--no-visited-state app-link--right)
      %>
    <% elsif
      @step_by_step_page.can_be_published? && !(current_user.has_permission? "Unreleased feature") || # remove this line when the feature flag is removed
      @step_by_step_page.status.approved_2i? && (current_user.has_permission? "Unreleased feature") %>
      <% if @step_by_step_page.has_been_published? %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Publish",
          href: step_by_step_page_publish_path(@step_by_step_page)
        } %>
      <% else %>
        <%= form_for(@step_by_step_page, url: step_by_step_page_publish_path(@step_by_step_page), method: :post) do %>
          <%= render "govuk_publishing_components/components/button", text: "Publish" %>
        <% end %>
      <% end %>
      <%= preview_link %>
      <%= link_to "Schedule",
        step_by_step_page_schedule_path(@step_by_step_page),
        class: %w(govuk-link govuk-link--no-visited-state app-link--right)
      %>
    <% elsif @step_by_step_page.has_draft? %>
      <% if can_review?(@step_by_step_page, current_user) %>
        <%= form_for(@step_by_step_page, url: step_by_step_page_claim_2i_review_path(@step_by_step_page), method: :post) do %>
          <%= render "govuk_publishing_components/components/button", {
            text: "Claim for 2i review"
          } %>
        <% end %>
      <% elsif can_submit_for_2i?(@step_by_step_page, current_user) %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Submit for 2i review",
          href: step_by_step_page_submit_for_2i_path(@step_by_step_page)
        } %>
      <% end %>
      <%= preview_link %>
    <% end %>

    <% if @step_by_step_page.can_discard_changes? %>
      <%= link_to 'Discard changes', { action: "revert", step_by_step_page_id: @step_by_step_page.id }, method: :post, data: { confirm: 'This will delete your draft. Do you want to discard your changes?' }, class: %w(govuk-link govuk-link--no-visited-state app-link--destructive) %>
    <% end %>

    <% if @step_by_step_page.can_be_unpublished? %>
      <%= link_to "Unpublish",
        step_by_step_page_unpublish_path(@step_by_step_page),
        class: %w(govuk-link govuk-link--no-visited-state)
      %>
    <% end %>
    <% if @step_by_step_page.can_be_deleted? %>
      <%= link_to "Delete", @step_by_step_page, method: :delete, data: { confirm: 'Deleted step by steps cannot be recovered. Are you sure you want to delete this step by step page?' }, class: %w(govuk-link govuk-link--no-visited-state app-link--destructive) %>
    <% end %>

    <% if @step_by_step_page.has_been_published? %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <%= link_to "View on GOV.UK", published_url(@step_by_step_page.slug), target: "_blank", class: "govuk-link govuk-link--no-visited-state" %>
    <% end %>

  </div>
</div>
