<% if @step_by_step_page.should_show_required_prepublish_actions? %>
  <%= render "govuk_publishing_components/components/inset_text" do %>
    <h2 class="govuk-heading-m">To publish this step by step you need to</h2>

    <ul class="govuk-list">
      <% if @step_by_step_page.steps.empty? %>
        <li>
          <%= link_to('Add at least one step', '#steps', class: 'govuk-link govuk-link--no-visited-state') %>
        </li>
      <% end %>

      <% if @step_by_step_page.steps.any? && !@step_by_step_page.steps_have_content? %>
        <li>
          <%= link_to('Add content to all your steps', '#steps', class: 'govuk-link govuk-link--no-visited-state') %>
        </li>
      <% end %>

      <% if @step_by_step_page.steps.any? && !@step_by_step_page.links_checked_since_last_update? && !@step_by_step_page.broken_links_found? %>
        <li>
          <%= link_to "Check for broken links", '#steps', class: 'govuk-link govuk-link--no-visited-state' %>
        </li>
      <% end %>

      <% if @step_by_step_page.broken_links_found? %>
        <li>
          <%= link_to "Fix broken links", '#steps', class: 'govuk-link govuk-link--no-visited-state' %>
        </li>
      <% end %>

      <% if @step_by_step_page.status.in_review? %>
        <% if current_user.id == @step_by_step_page.reviewer_id %>
          <li>
            <p class="govuk-body">2i approve it</p>
          </li>
        <% else %>
          <li>
            <p class="govuk-body">get 2i approval</p>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if @step_by_step_page.status.submitted_for_2i? %>
  <%= render "govuk_publishing_components/components/inset_text" do %>
    <p class="govuk-body">Not yet claimed for 2i</p>
  <% end %>
<% elsif @step_by_step_page.status.in_review? %>
  <%= render "govuk_publishing_components/components/inset_text" do %>
    <p class="govuk-body">The 2i reviewer is <%= @step_by_step_page.reviewer.name %></p>
  <% end %>
<% end %>
