<%= render "govuk_publishing_components/components/input", {
  label: {
    text: t("coronavirus.announcements.form.title.label"),
    bold: true,
  },
  name: "announcement[title]",
  value: @announcement.title,
  id: "title",
  error_message: error_items(@announcement.errors.messages, :title),
  hint: t("coronavirus.announcements.form.title.hint"),
} %>

<%= render "govuk_publishing_components/components/input", {
  label: {
    text: t("coronavirus.announcements.form.url.label"),
    bold: true,
  },
  name: "announcement[url]",
  value: @announcement.url,
  id: "url",
  error_message: error_items(@announcement.errors.messages, :url),
  hint: t("coronavirus.announcements.form.url.hint"),
} %>

<% legend = capture do %>
  <span class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("coronavirus.announcements.form.date.legend") %></span>
<% end %>

<%= render "govuk_publishing_components/components/date_input", {
  name: "announcement[published_on]",
  id: "published_on",
  legend_text: legend,
  hint: t("coronavirus.announcements.form.date.hint"),
  error_message: error_items(@announcement.errors.messages, :published_on),
  items: [
    {
      name: "day",
      width: 2,
      value: @announcement.published_on&.day || params.dig("announcement", "published_on", "day"),
    },
    {
      name: "month",
      width: 2,
      value: @announcement.published_on&.month || params.dig("announcement", "published_on", "month"),
    },
    {
      name: "year",
      width: 4,
      value: @announcement.published_on&.year || params.dig("announcement", "published_on", "year"),
    }
  ]
} %>

<%= render "govuk_publishing_components/components/button", {
  text: "Save",
  margin_bottom: true
} %>
<%= tag.p (link_to 'Cancel', coronavirus_page_path(@page.slug), class: "govuk-link govuk-link--no-visited-state"), class: "govuk-body" %>
