<% content_for :title, "Publish #{@coronavirus_page.name.downcase}" %>
<% content_for :context, "https://www.gov.uk#{@coronavirus_page.base_path}" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "coronavirus_pages/shared/github", github_url: @coronavirus_page.github_url %>
    <%= render "coronavirus_pages/shared/draft" %>
    <%= render "coronavirus_pages/shared/preview", path: @coronavirus_page.base_path %>
    <%= render "coronavirus_pages/shared/publish" %>
    <%= render "coronavirus_pages/shared/live", path: @coronavirus_page.base_path %>
  </div>
</div>
