<%
  links = [
    {
      text: t("coronavirus_pages.show.link_text"),
      href: coronavirus_pages_path
    },
    {
      text: t("coronavirus_pages.show.accordion_text", coronavirus_page_name: @coronavirus_page.name)
    }
  ]

  metadata = {
    "Status" => @coronavirus_page.state.capitalize,
    "Last saved" => format_full_date_and_time(@coronavirus_page.updated_at),
  }
%>

<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, formatted_title(@coronavirus_page)%>
<% content_for :context, page_type(@coronavirus_page) %>

<div class="covid-manage-page govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if unreleased_feature_user? && @coronavirus_page.topic_page? %>
    <%= render "timeline_entries" %>
    <% end %>
    <%= render "sub_sections" %>
    <% if @coronavirus_page.topic_page? %>
      <%= render "announcements" %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "actions" %>
    <div class="app-side">
      <%= render "govuk_publishing_components/components/metadata", {
        other: metadata
      } %>
    </div>
  </div>
</div>
