<%= content_for :page_title, "Edit topic" %>

<h1>
  <span class="type">Topic</span>

  Editing
  <% if @topic.has_parent? %>
    <%= @topic.parent.title %>:
  <% end %>
    <%= @topic.title %>
</h1>

<%= form_for @topic, html: { class: 'topic' } do |f| %>
  <%= f.text_field :slug %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>

  <% if @topic.published? && @topic.dirty? %>
    <div class="callout callout-warning">
      <span class="callout-title">Warning</span>
      This item has unpublished changes to the curated lists. Saving will publish these changes.
    </div>
  <% end %>

  <%= f.submit 'Save', class: 'btn-submit' %>
<% end %>
