<%= content_for :page_title, @topic.title %>

<header class="heading-with-actions">
  <h1>
    <span class="type">Topics</span>

    <% if @topic.has_parent? %>
      <%= link_to "#{@topic.parent.title}:", @topic.parent %>
    <% end %>

    <%= @topic.title %> <%= beta_tag if @topic.beta? %>
  </h1>

  <nav class="actions">
    <% if gds_editor? %>
      <%= link_to 'Edit', edit_topic_path(@topic) %>

      <% if @topic.may_publish? %>
        <%= link_to 'Publish topic', publish_topic_path(@topic), method: :post %>
      <% end %>
    <% end %>

    <% if @topic.has_parent? %>
      <%= link_to 'Edit list', tag_lists_path(@topic) %>
    <% end %>
  </nav>
</header>

<%= render 'shared/tags/metadata', resource: @topic %>
<%= render 'shared/tags/children', resource: @topic %>
