<%= render 'shared/breadcrumbs', {
  links: [
    {
      text: 'Specialist topic pages',
      href: topics_url
    },
    *([
      text: @topic.parent[:title],
      href: topic_url(@topic.parent)
    ] if @topic.parent.present? ),
    {
      text: @topic[:title]
    }
  ]
} %>

<% content_for :title, govuk_heading_with_parent(@topic) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="govuk-!-margin-bottom-3">
      <%= render "govuk_publishing_components/components/summary_list", {
        borderless: true,
        title: "Content",
        items: [
          {
            field: "URL",
            value: link_to(@topic.base_path, Plek.new.website_root + @topic.base_path, target: "_blank", class: "govuk-link")
          },
          *([
            field: "Parent",
            value: link_to(@topic.parent[:title], topic_url(@topic.parent), class: "govuk-link")
          ] if @topic.parent.present? ),
          {
            field: "Description",
            value: @topic[:description].present? ? @topic[:description] : "Empty"
          },
          {
            field: "Status",
            value: govuk_status(@topic)
          },
        ],
        edit: {
          href: edit_topic_path(@topic),
          link_text: "Edit page"
        }
      } %>
    </section>

    <% if @topic.can_have_children? %>
      <section class="govuk-!-margin-bottom-3">
        <%= render "shared/list-children-pages", page: @topic %>
      </section>
    <% end %>

    <% if @topic.level_two? %>
      <section class="govuk-!-margin-bottom-3">
        <%= render 'shared/list-links-preview', tag: @topic %>
      </section>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-side__wrapper">
      <div class="app-side">
        <div class="app-side__actions">
          <% if @topic.may_publish? %>
            <div class="govuk-!-margin-bottom-1">
              <%= form_for @topic, url: publish_topic_path(@topic), method: :post do |form| %>
                <%= render("govuk_publishing_components/components/button", {
                  text: "Publish"
                }) %>
              <% end %>
            </div>
          <% end %>
          <% if @topic.can_have_children? %>
            <div class="govuk-!-margin-bottom-1">
              <% if gds_editor? %>
                <%= link_to "Add subtopic page",
                  new_polymorphic_path(@topic, parent_id: @topic.id),
                  class: %w(govuk-link govuk-link--no-visited-state) %>
              <% end %>
            </div>
          <% end %>
          <div class="govuk-!-margin-bottom-1">
            <% if @topic.can_be_archived? %>
              <%= link_to 'Archive specialist topic page',
                propose_archive_topic_path(@topic),
                class: %w(govuk-link govuk-link--no-visited-state)
              %>
            <% elsif @topic.level_two? %>
              <%= link_to 'Delete', archive_topic_path(@topic),
                method: 'post',
                data: { confirm: 'Are you sure?' },
                class: %w(govuk-link app-link--destructive)
              %>
            <% end %>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
