<%= form_for(@step_by_step_page) do |form| %>
  <%= render "shared/steps/form_errors", resource: step_by_step_page %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Title"
        },
        name: "step_by_step_page[title]",
        value: step_by_step_page.title
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Slug"
        },
        hint: "No slashes",
        name: "step_by_step_page[slug]",
        value: step_by_step_page.slug
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Introduction"
        },
        name: "step_by_step_page[introduction]",
        value: step_by_step_page.introduction
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Meta description"
        },
        name: "step_by_step_page[description]",
        value: step_by_step_page.description
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/button", {
        text: "Save"
      } %>
    </div>
    <div class="govuk-grid-column-full govuk-!-margin-top-3">
      <%= link_to 'Cancel', @step_by_step_page, class: "govuk-link" %>
    </div>
  </div>
<% end %>
