<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: @step_by_step_page
    },
    {
      text: 'Guidance'
    }
  ]
%>
<%= render 'shared/steps/step_breadcrumb', links: links %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m"><%= t("guidance.new_step_by_step.header") %></h3>
      <h2 class="govuk-heading-s"><%= t("step_by_step_pages.form.title.label") %></h2>
      <p class="govuk-body"><%= t("guidance.new_step_by_step.title") %></p>

      <h2 class="govuk-heading-s"><%= t("step_by_step_pages.form.slug.label") %></h2>
      <p class="govuk-body"><%= t("guidance.new_step_by_step.slug") %></p>

      <h2 class="govuk-heading-s"><%= t("step_by_step_pages.form.introduction.label") %></h2>
      <p class="govuk-body"><%= t("guidance.new_step_by_step.introduction") %></p>

      <h2 class="govuk-heading-s"><%= t("step_by_step_pages.form.meta_description.label") %></h2>
      <p class="govuk-body"><%= t("guidance.new_step_by_step.meta_description") %></p>

    <h3 class="govuk-heading-m"><%= t("guidance.new_step.header") %></h3>
      <h2 class="govuk-heading-s"><%= t("step_by_step_pages.step.title.label") %></h2>
      <p class="govuk-body"><%= t("guidance.new_step.step_title") %></p>

      <h2 class="govuk-heading-s"><%= t("step_by_step_pages.step.step_label.label") %></h2>
      <p class="govuk-body"><%= t("guidance.new_step.step_label.number") %>
        <%= t("guidance.new_step.step_label.and") %>
        <%= t("guidance.new_step.step_label.or") %></p>

      <p class="govuk-body"><%= render_markdown(t("guidance.new_step.content_tasks_links_markdown")) %></p>

    <h3 class="govuk-heading-m"><%= t("guidance.reorder.header") %></h3>
      <p class="govuk-body"><%= t("guidance.reorder.order") %></p>

    <h3 class="govuk-heading-m"><%= t("guidance.sidebar_settings.header") %></h3>
      <p class="govuk-body"><%= render_markdown(t("guidance.sidebar_settings.guidance_markdown")) %></p>

    <h3 class="govuk-heading-m"><%= t("guidance.secondary_content_links.header") %></h3>
      <p class="govuk-body"><%= render_markdown(t("guidance.secondary_content_links.guidance_markdown")) %></p>
</div>
