<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: @step_by_step_page
    },
    {
      text: 'Guidance'
    }
  ]
%>
<%= render 'shared/steps/step_breadcrumb', links: links %>

<% guidance = t("guidance") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m"><%= guidance.keys[0].to_s.titleize %></h3>
    <% guidance[:new_step_by_step][:shared].each do |title, content| %>
      <h2 class="govuk-heading-s"><%= title.to_s.titleize %></h2>
      <p class="govuk-body"><%= content %></p>
    <% end %>

    <h3 class="govuk-heading-m"><%= guidance.keys[1].to_s.titleize %></h3>
    <% guidance[:new_step][:shared].each do |title, content| %>
      <% if content %><h2 class="govuk-heading-s"><%= title.to_s.titleize %></h2><% end %>
      <p class="govuk-body"><%= render_markdown(content) %></p>
    <% end %>

    <h3 class="govuk-heading-m"><%= guidance.keys[2].to_s.titleize %></h3>
    <h2 class="govuk-heading-s"><%= guidance[:reorder_steps][:revewer_2i].to_s.titleize %></h2>
    <p class="govuk-body"><%= guidance[:reorder_steps][:shared] %></p>

    <h3 class="govuk-heading-m"><%= guidance.keys[3].to_s.titleize %></h3>
    <% guidance[:sidebar_settings][:shared].each do |title, content| %>
      <% if content %><h2 class="govuk-heading-s"><%= title.to_s.titleize %></h2><% end %>
      <p class="govuk-body"><%= content %></p>
    <% end %>

    <% guidance[:secondary_links][:shared].each do |title, content| %>
      <h3 class="govuk-heading-m"><%= title.to_s.titleize %></h3>
      <p class="govuk-body"><%= render_markdown(content) %></p>
    <% end %>
  </div>
</div>
