<%
  links = [
    {
      text: 'Step by step publisher',
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/page_title', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<h1>Step by step navigation publisher</h1>

<p class="step-actions">
  <%= link_to 'Create new', new_step_by_step_page_path, class: "btn btn-primary" %>
</p>

<table class="table table-striped" data-module="filterable-table">
  <thead>
    <tr>
      <th colspan="4">
      <div class='filter-control'>
        <%= render partial: 'govuk_admin_template/table_filter_form', locals: { placeholder: 'Search for a step by step page here' } %>
      </div>
      </th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Actions</th>
      <th>Slug</th>
      <th class="text-right">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @step_by_step_pages.each do |step_by_step_page| %>
      <tr>
        <th>
          <%= step_by_step_page.title %>
        </th>
        <td>
          <ul class="list-inline">
            <li><%= link_to 'Edit', step_by_step_page %></li>
            <li><%= link_to 'Choose navigation', step_by_step_page_navigation_rules_path(step_by_step_page) %></li>
            <% if step_by_step_page.has_draft? %>
                <li><%= link_to 'Preview', preview_url(step_by_step_page.slug, auth_bypass_id: step_by_step_page.auth_bypass_id) %></li>
            <% end %>
            <% unless step_by_step_page.has_been_published? %>
              <li><%= link_to 'Delete', step_by_step_page, method: :delete, data: { confirm: 'Delete this step by step page?' } %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= step_by_step_page.slug %>
        </td>
        <td class="text-right">
          <span class="h4">
            <span class="label <%= step_by_step_page.status[:label_class] %>" title="<%= step_by_step_page.status[:text] %>"><%= step_by_step_page.status[:text] %></span>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
