<%
  links = [
    {
      text: 'Step by step publisher',
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<h1>Step by step navigation publisher</h1>

<p class="step-actions">
  <%= link_to 'Create new', new_step_by_step_page_path, class: "btn btn-primary" %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
      <th>Status</th>
      <th>Slug</th>
    </tr>
  </thead>

  <tbody>
    <% @step_by_step_pages.each do |step_by_step_page| %>
      <tr>
        <th>
          <%= step_by_step_page.title %>
        </th>
        <td>
          <ul class="list-inline">
            <li><%= link_to 'Edit content', step_by_step_page %></li>
            <li class="todo">Edit rules</li>
            <li><%= link_to("Preview", step_by_step_page_preview_path(step_by_step_page)) %></li>
            <li class="todo">Download JSON</li>
            <li><%= link_to 'Delete', step_by_step_page, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
        <td class="todo">
          <% status = [:published, :published_draft, :withdrawn, :draft].sample %>
          <% case status %>
          <% when :published %>
            <span class="label label-success">Published</span>
          <% when :published_draft %>
            <span class="label label-warning">Published - new edition in draft</span>
          <% when :withdrawn %>
            <span class="label label-danger">Withdrawn</span>
          <% when :draft %>
            <span class="label label-default">Draft</span>
          <% end %>
        </td>
        <td>
          <%= step_by_step_page.slug %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
