<%
  links = [
    {
      text: 'Step by step publisher',
    }
  ]
%>

<%= render 'shared/steps/page_title', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>


<%= render "govuk_publishing_components/components/heading", {
  text: "Step by step navigation publisher",
  margin_bottom: 6
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/button", {
      text: "Create new",
      href: new_step_by_step_page_path
    } %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-grid-row">
      <%= form_tag({}, enforce_utf8: false, method: :get) do %>
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/input", {
            label: {
              text: "Title or URL",
              bold: true
            },
            name: "title_or_url",
            value: params[:title_or_url],
            id: "title_or_url"
          } %>
        </div>
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/label", {
            text: "Status",
            html_for: "status",
            bold: true
          } %>
          <%= render "govuk_publishing_components/components/select", {
            id: "status",
            name: "status",
            label: "",
            full_width: true,
            options: [
              {
                text: "All",
                data_attributes: {
                  show: "all"
                },
              },
              {
                text: "Draft",
                value: "draft",
                data_attributes: {
                  show: "draft"
                },
              },
              {
                text: "Live",
                value: "live",
                data_attributes: {
                  show: "live"
                },
              },
              {
                text: "Scheduled",
                value: "scheduled",
                data_attributes: {
                  show: "scheduled"
                },
              },
              {
                text: "Unpublished changes",
                value: "unpublished_changes",
                data_attributes: {
                  show: "unpublished_changes"
                },
              }
            ].each{ |item| item[:selected] = item[:value] == params[:status] }
          } %>
        </div>
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/button", {
            text: "Filter",
            margin_bottom: true
          } %>
        </div>
      <% end %>
    </div>

    <p class="govuk-body">
      <%= link_to "Clear all filters",
        step_by_step_pages_path,
        class: "govuk-link govuk-link--no-visited-state"
      %>
    </p>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body govuk-!-margin-bottom-1"><%= pluralize(@step_by_step_pages.count, "step by step") %></p>
    <table class="gem-c-table govuk-table govuk-table--sortable step-by-step-list__table">
      <thead class="govuk-table__head">
        <tr>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col">Title</th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col">Status</th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col">Base path / preview</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% if @step_by_step_pages.present? %>
          <% @step_by_step_pages.each do |step_by_step_page| %>
            <tr class="govuk-table__row" data-status="<%= step_by_step_page.status[:name] %>">
              <td class="govuk-table__cell">
                <strong><%= link_to step_by_step_page.title, step_by_step_page %></strong>
              </td>
              <td class="govuk-table__cell">
                <span class="h4">
                  <span class="label" title="<%= step_by_step_page.status[:text] %>"><%= step_by_step_page.status[:text] %></span>
                </span>
              </td>
              <td class="govuk-table__cell">
                <% if step_by_step_page.has_draft? %>
                  <%= link_to "/#{step_by_step_page.slug}", preview_url(step_by_step_page.slug, auth_bypass_id: step_by_step_page.auth_bypass_id), target: "_blank" %>
                <% elsif step_by_step_page.status[:name] == "live" %>
                  <%= link_to "/#{step_by_step_page.slug}", live_url(step_by_step_page.slug), target: "_blank" %>
                <% else %>
                  /<%= step_by_step_page.slug %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="3">
              <p class="govuk-hint">No step by steps have been created yet.</p>
            </tr>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
