<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: @step_by_step_page
    },
    {
      text: 'Change notes'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/page_title', links: links %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Change notes'
%>

<%= render 'nav', step_by_step_page: @step_by_step_page, active: "internal-change-notes" %>

<%= form_for(@internal_change_note, url: step_by_step_page_internal_change_notes_path) do |form| %>
  <%= render "shared/steps/form_errors", resource: @step_by_step_page %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <details class="add-change-note--details">
        <summary class="add-change-note--summary">
          <span class="gem-c-button govuk-button">Add a change note</span>
        </summary>
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/textarea", {
            label: {
              text: "Description"
            },
            name: "internal_change_note[description]",
            rows: 8
          } %>
        </div>
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/button", {
            text: "Save change note"
          } %>
        </div>
        <div class="govuk-grid-column-full govuk-!-margin-top-3">
          <%= link_to 'Cancel', step_by_step_page_internal_change_notes_path, class: "govuk-link add-change-note-cancel--link" %>
        </div>
      </details>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/accordion", {
      items: @step_by_step_page.internal_change_notes.each_with_index.map do |note, index|
        {
          heading: {
            text: "#{note.readable_created_date}"
          },
          summary: {
            text: sanitize("#{note.edition_number ? "Edition #{note.edition_number}" : "Current version"} - Change made by <strong>#{note.author}</strong>")
          },
          content: {
            html: sanitize("
              <pre class=\"govuk-body change-note--description\">#{note.description}</pre>
            ")
          },
          expanded: index == 0
        }
      end
    } %>
  </div>
</div>
