<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: @step_by_step_page
    },
    {
      text: 'Change notes'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/page_title', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Change notes'
%>

<%= render 'nav', step_by_step_page: @step_by_step_page, active: "internal-change-notes" %>

<%
  full_width = "col-md-12"
%>

<%= form_for(@internal_change_note, url: step_by_step_page_internal_change_notes_path) do |form| %>
  <%= render "shared/steps/form_errors", resource: @step_by_step_page %>

  <div class="row">
    <div class="<%= full_width %>">
      <details class="add-change-note--details">
        <summary class="add-change-note--summary">
          <span class="btn btn-primary">Add a change note</span>
        </summary>      
        <div class="form-group">
          <%= form.text_area :description, required: true, class: "form-control add-change-note-description--textarea", rows: 8, maxlength: 50000 %>
          <%= form.submit "Save change note", class: "btn btn-success" %>
          <a href="<%= step_by_step_page_internal_change_notes_path %>" class="btn btn-link add-change-note-cancel--link">Cancel</a>
        </div>
      </details>
    </div>
  </div>
  <div class="row">
    <div class="<%= full_width %>">
      <% @step_by_step_page.internal_change_notes.each_with_index do |note, index| %>
        <details class="change-note--details" <%= "open" if index == 0 %>>
          <summary class="change-note--summary">
            <%= note.readable_created_date %>
            <span class="badge pull-right">
              <%= note.edition_number ? "Edition #{note.edition_number}" : "Current version" %>
            </span>
          </summary>
          <p>Change made by <strong><%= note.author %></strong></p>
          <pre><%= note.description %></pre>
        </details>
      <% end %>
    </div>
  </div>
<% end %>
