<%
  links = [
    {
      text: 'Step by steps',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: @step_by_step_page
    },
    {
      text: 'History'
    }
  ]
%>

<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, @step_by_step_page.title %>
<% content_for :context, 'Step by step' %>

<%= render 'nav', step_by_step_page: @step_by_step_page, active: "internal-change-notes" %>

<%= form_for(@internal_change_note, url: step_by_step_page_internal_change_notes_path) do |form| %>
  <%= render "shared/steps/form_errors", resource: @step_by_step_page %>
  <%= render "govuk_publishing_components/components/contextual_guidance", {
    html_for: "internal-change-note-description",
    title: t("step_by_step_pages.internal_change_notes.label"),
    content: t("step_by_step_pages.internal_change_notes.guidance")
  } do %>
    <%= render "govuk_publishing_components/components/textarea", {
      label: {
        text: t("step_by_step_pages.internal_change_notes.label"),
        bold: true
      },
      id: "internal-change-note-description",
      name: "internal_change_note[description]"
    } %>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Add internal note",
    margin_bottom: true
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/accordion", {
      items: @step_by_step_page.internal_change_notes
        .group_by { |edition| edition.edition_number }
        .map { |_ , records|
          {
            heading: {
              text: sanitize("#{records.first.edition_number ? "#{records.first.edition_number.to_i.ordinalize} edition" : "Current version"}")
            },
            content: {
              html: sanitize(records.map { |note|
                  "<div class='app-c-timeline-entry'>
                    <h4 class='app-c-timeline-entry__type'>#{note.headline}</h4>
                    <p class='app-c-timeline-entry__dateline'>#{note.readable_created_date} by #{note.author}</p>
                    <pre class='app-c-timeline-entry__description'>#{note.description}</pre>
                  </div>"
                }.join
              )
            },
            expanded: !records.first.edition_number
          }
        }
    } %>
  </div>
</div>
