<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: @step_by_step_page
    },
    {
      text: 'Preview'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<h1>
  <%= @step_by_step_page.title %><br />
  <small>Preview</small>
</h1>

<p>Share preview link</p>

<p><a href="">www.preview.gov.uk/[<=@title.slug>]</a></p>

<%= @step_by_step_page.introduction %>

<p>Meta description: <%= @step_by_step_page.description %></p>

<%
  step_number = 1
%>
<% @step_by_step_page.steps.each do |step| %>
  <hr/>
  <div class="row">
    <div class="col-md-8">
      <strong>
        <% if step.logic == 'number' %>
          <%= step_number %>
          <% step_number += 1 %>
        <% else %>
          <%= step.logic %>
        <% end %>
        -
        <%= step.title %>
      </strong>
    </div>
  </div>
<% end %>

<hr/>
