<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page)
    },
    {
      text: 'Publish'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Publish step by step page'
%>

<% if @publish_intent %>
  <%= render "shared/steps/form_errors", resource: @publish_intent %>
<% end %>


<%= form_tag do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/radio", {
        heading: "Update type",
        name: "update_type",
        items: [
          {
            value: "minor",
            text: "Minor",
            checked: true
          },
          {
            value: "major",
            text: "Major"
          }
        ]
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Change note"
        },
        name: "change_note"
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/button", {
        text: "Publish step by step"
      } %>
    </div>
    <div class="govuk-grid-column-full govuk-!-margin-top-3">
      <%= link_to 'Cancel', @step_by_step_page, class: "govuk-link" %>
    </div>
  </div>
<% end %>

