<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page)
    },
    {
      text: 'Publish or delete'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Publish or delete'
%>

<%= render 'nav', step_by_step_page: @step_by_step_page, active:"publish-or-delete" %>

<div class="govuk-grid-row publish-or-delete">
  <div class="govuk-grid-column-full">
    <% if @step_by_step_page.has_draft? %>
      <div class="govuk-panel panel-default">
        <div class="panel-body">
          <p class="govuk-body">Before publishing check for broken links.</p>
          <p class="govuk-body">After publishing add this step by step to a mainstream browse category and a taxonomy topic.</p>
          <%= render "govuk_publishing_components/components/button", {
            text: "Publish changes",
            href: step_by_step_page_publish_path(@step_by_step_page)
          } %>
          <% if user_can_schedule? %>
            <p>Or</p>
            <% if @step_by_step_page.scheduled_for_publishing? %>
              <div class="alert alert-info">
                Scheduled to be published at <%= @step_by_step_page.scheduled_at %>
              </div>
              <%= form_tag step_by_step_page_unschedule_path(@step_by_step_page), method: :unschedule do %>
                <button class="btn btn-danger">Unschedule publishing</button>
              <% end %>
            <% else %>
              <%= link_to 'Schedule publish', step_by_step_page_schedule_path(@step_by_step_page), class: "btn btn-info" %>
            <% end %>
          <% end %>

          <% if @step_by_step_page.unpublished_changes? %>
            <p class="govuk-body">Or</p>
            <%= button_to 'Discard changes', { action: "revert", step_by_step_page_id: @step_by_step_page.id }, data: { confirm: 'This will delete your draft. Do you want to discard your changes?' }, class: "gem-c-button govuk-button govuk-button--secondary" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="govuk-panel panel-danger delete-or-unpublish-panel">
      <div class="panel-body">
        <% if @step_by_step_page.has_been_published? %>
          <%= link_to 'Unpublish step by step', step_by_step_page_unpublish_path(@step_by_step_page), class: "gem-c-button govuk-button govuk-button--warning" %>
        <% else %>
          <p class="text-danger govuk-body"><strong>Warning</strong></p>
          <p class="govuk-body">Deleted step by steps cannot be recovered.</p>
          <%= link_to 'Delete step by step', @step_by_step_page, method: :delete, data: { confirm: 'Delete this step by step page?' }, class: "gem-c-button govuk-button govuk-button--warning" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
