<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page)
    },
    {
      text: 'Publish or delete'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Publish or delete'
%>

<%= render 'nav', step_by_step_page: @step_by_step_page, active:"publish-or-delete" %>

<div class="govuk-grid-row publish-or-delete">
  <div class="govuk-grid-column-full">
    <% if @step_by_step_page.can_be_published? || @step_by_step_page.can_discard_changes? ||  @step_by_step_page.scheduled_for_publishing?%>
      <div class="govuk-panel panel-default">
        <div class="panel-body">
          <% if @step_by_step_page.can_be_published? %>
            <p class="govuk-body">Before publishing check for broken links.</p>
            <p class="govuk-body">After publishing add this step by step to a mainstream browse category and a taxonomy topic.</p>
            <%= render "govuk_publishing_components/components/button", {
              text: "Publish changes",
              href: step_by_step_page_publish_path(@step_by_step_page)
            } %>
          <% end %>

          <% if user_can_schedule? %>
            <% if @step_by_step_page.scheduled_for_publishing? %>
              <p class="govuk-body">
                Scheduled to be published on <%= @step_by_step_page.scheduled_at.strftime('%A, %d %B %Y at %l:%M %P') %>
              </p>
              <%= form_tag step_by_step_page_unschedule_path(@step_by_step_page), method: :unschedule do %>
                <%= render "govuk_publishing_components/components/button", {
                  text: "Unschedule publishing",
                  destructive: true
                } %>
              <% end %>
            <% else %>
              <p class="govuk-body govuk-!-margin-top-5">Or</p>
              <%= render "govuk_publishing_components/components/button", {
                text: "Schedule publish",
                href: step_by_step_page_schedule_path(@step_by_step_page),
                secondary: true
              } %>
            <% end %>
          <% end %>

          <% if @step_by_step_page.can_discard_changes? %>
            <p class="govuk-body govuk-!-margin-top-5">Or</p>
            <%= button_to 'Discard changes', { action: "revert", step_by_step_page_id: @step_by_step_page.id }, data: { confirm: 'This will delete your draft. Do you want to discard your changes?' }, class: "gem-c-button govuk-button govuk-button--warning" %>
          <% end %>
          </div>
        </div>
      <% end %>

      <% if @step_by_step_page.can_be_unpublished? || @step_by_step_page.can_be_deleted? %>
        <div class="govuk-panel panel-danger delete-or-unpublish-panel">
          <div class="panel-body">
            <% if @step_by_step_page.can_be_unpublished? %>
              <%= render "govuk_publishing_components/components/button", {
                text: "Unpublish step by step",
                href: step_by_step_page_unpublish_path(@step_by_step_page),
                destructive: true
              } %>
            <% end %>
            <% if @step_by_step_page.can_be_deleted? %>
              <p class="text-danger govuk-body"><strong>Warning</strong></p>
              <p class="govuk-body">Deleted step by steps cannot be recovered.</p>
              <%= button_to 'Delete step by step', @step_by_step_page, method: :delete, data: { confirm: 'Delete this step by step page?' }, class: "gem-c-button govuk-button govuk-button--warning" %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
