<%
  links = [
    {
      text: "Step by steps",
      href: step_by_step_pages_path,
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page),
    },
    {
      text: "Reorder steps",
    },
  ]
%>

<% content_for :breadcrumbs, render("shared/steps/step_breadcrumb", links: links) %>
<% content_for :title, @step_by_step_page.title %>
<% content_for :context, "Reorder steps" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render_markdown t("step_by_step_pages.reorder.instructions_markdown") %>
    <%= render_markdown t("step_by_step_pages.reorder.automatically_updated_markdown") %>

    <%
      step_number = 1
      steps = @step_by_step_page.steps.map do |step|
        if step.logic == "number"
          prefix = step_number
          step_number += 1
        else
          prefix = step.logic
        end

        { id: step.id, title: "#{prefix} - #{step.title}" }
      end
    %>

    <% if steps.length > 0 %>
      <%= form_for(@step_by_step_page, url: step_by_step_page_reorder_path(@step_by_step_page), method: :post) do |form| %>
        <%= render "govuk_publishing_components/components/reorderable_list", {
          input_name: "step_order_save",
          items: steps,
        } %>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <%= render "govuk_publishing_components/components/button", {
              text: "Save",
            } %>
          </div>
          <div class="govuk-grid-column-full govuk-!-margin-top-3">
            <%= link_to "Cancel", @step_by_step_page, class: "govuk-link" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="govuk-body"><strong>There are currently no steps to display.</strong></p>
      <%= link_to "Cancel", @step_by_step_page, class: "govuk-link" %>
    <% end %>
  </div>
</div>
