<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page)
    },
    {
      text: 'Reorder steps'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Reorder steps'
%>

<%= render 'nav', step_by_step_page: @step_by_step_page, active: "reorder-steps" %>

<div class="row">
  <div class="col-md-7">
    <p>Use the up/down buttons on the right to reorder steps, or click and hold on a step to reorder using drag and drop.</p>
    <p>Step numbers will be automatically updated on save.</p>

    <%
      step_number = 1
      steps_length = @step_by_step_page.steps.length - 1
    %>
    <% if @step_by_step_page.steps.length > 0 %>
      <div id="js-reorder-group">
        <% @step_by_step_page.steps.each_with_index do |step, step_index| %>
          <div class="panel panel-default js-reorder" data-id="<%= step.id %>">
            <div class="panel-body">
              <div class="row" id="step-<%= step_index %>">
                <div class="col-md-8">
                  <strong class="h4">
                    <% if step.logic == 'number' %>
                      <%= step_number %>
                      <% step_number += 1 %>
                    <% else %>
                      <%= step.logic %>
                    <% end %>
                    -
                    <%= step.title %>
                  </strong>
                </div>
                <div class="col-md-4 text-right js-order-controls"></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <%= form_for(@step_by_step_page, url: step_by_step_page_reorder_path(@step_by_step_page), method: :post) do |form| %>
        <input type="hidden" name="step_order_save" id="step_order_save" value="" />

        <div class="form-group">
          <%= form.submit "Save", class: "btn btn-primary" %>
        </div>
        <div class="form-group">
          <%= link_to 'Cancel', @step_by_step_page %>
        </div>
      <% end %>

    <% else %>
      <p><strong>There are currently no steps to display.</strong></p>

      <p><%= link_to 'Cancel', @step_by_step_page %></p>
    <% end %>
  </div>
</div>
