<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: @step_by_step_page
    },
    {
      text: 'Choose navigation',
    }
  ]

%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<h1>
  <%= @step_by_step_page.title %><br />
  <small>Choose on-page side navigation</small>
</h1>

<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Content</th>
        <th>Instances</th>
        <th>Shown navigation</th>
      </tr>
    </thead>
    <tbody>
      <% @rules.each do |item| %>
        <tr>
          <th><%= link_to item[:title], item[:url] %></th>
          <td>
            Appears in <%= pluralize(item[:instances].count, "step-by-step navigation") %>:
            <ul class="list-unstyled">
              <% item[:instances].each do |instance| %>
                <li><%= link_to instance[:title], instance[:url] %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <div class="radio" style="margin-top:0">
              <label><input type="radio" name="navigation-<%= item[:url].parameterize %>" <%= "checked" if item[:navigation] == :step_by_step %>> Step by step</label>
              <label><input type="radio" name="navigation-<%= item[:url].parameterize %>" <%= "checked" if item[:navigation] == :topics %>> Topics</label>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-group">
    <button class="btn btn-primary">Save</button>
  </div>
  <div class="form-group">
    <a href="/step-by-step-pages/2">Cancel</a>
  </div>
</form>
