<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page)
    },
    {
      text: 'Schedule'
    }
  ]
%>

<% legend = capture do %>
  <span class="govuk-heading-s govuk-!-margin-bottom-0">Date</span>
<% end %>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Schedule publish'
%>

<%= render 'nav', step_by_step_page: @step_by_step_page, active: "schedule" %>

<% if @step_by_step_page.errors.any? %>
  <%= render "shared/steps/form_errors", resource: @step_by_step_page %>
<% end %>

<div class="row">
  <div class="col-md-7">
    <%= form_tag(step_by_step_page_schedule_datetime_path(@step_by_step_page)) do %>
      <%= render "step_by_step_pages/change_notes" %>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/button", {
            text: "Continue"
          } %>
        </div>
        <div class="govuk-grid-column-full govuk-!-margin-top-3">
          <%= link_to "Cancel", @step_by_step_page, class: "govuk-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
