<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page)
    },
    {
      text: 'Schedule'
    }
  ]
%>

<% legend = capture do %>
  <span class="govuk-heading-s govuk-!-margin-bottom-0">Date</span>
<% end %>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Set a date and time to publish'
%>

<%= render 'nav', step_by_step_page: @step_by_step_page, active: "schedule" %>

<% if @step_by_step_page.errors.any? %>
  <%= render "shared/steps/form_errors", resource: @step_by_step_page %>
<% end %>

<div class="row">
  <div class="col-md-7">
    <%= form_tag do %>
      <%= render "govuk_publishing_components/components/date_input", {
        legend_text: legend,
        name: "schedule[date]",
        hint: "For example, 01 08 2027",
        id: "date",
        error_items: issues_for(:date),
        items: [
          {
            name: "day",
            width: 2,
            value: @schedule_placeholder[:day]
          },
          {
            name: "month",
            width: 2,
            value: @schedule_placeholder[:month]
          },
          {
            name: "year",
            width: 4,
            value: @schedule_placeholder[:year]
          }
        ]
      } %>

      <%= render "components/autocomplete", {
        id: "time",
        name: "schedule[time]",
        label: {
          text: "Time",
          bold: true,
        },
        input: {
          options: time_options,
          value: @schedule_placeholder[:time],
        },
        error_items: issues_for(:time),
        data_attributes: {
          "autocomplete-without-narrowing-results": true,
        },
        width: "narrow",
      } %>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/button", {
            text: "Schedule",
          } %>
        </div>
        <div class="govuk-grid-column-full govuk-!-margin-top-3">
          <%= link_to "Cancel", @step_by_step_page, class: "govuk-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
