<%
  links = [
    {
      text: 'Step by steps',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page)
    },
    {
      text: 'Set a date and time to publish'
    }
  ]
%>

<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, @step_by_step_page.title %>
<% content_for :context, "Set a date and time to publish" %>

<% if @step_by_step_page.errors.any? %>
  <%= render "shared/steps/form_errors", resource: @step_by_step_page %>
<% end %>

<% legend = capture do %>
  <span class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("step_by_step_pages.schedule_datetime.date.label") %></span>
<% end %>

<%= form_tag do %>
  <%= render "govuk_publishing_components/components/date_input", {
    legend_text: legend,
    name: "schedule[date]",
    hint: t("step_by_step_pages.schedule_datetime.date.hint"),
    id: "date",
    error_items: issues_for(:date),
    items: [
      {
        name: "day",
        width: 2,
        value: @schedule_placeholder[:day]
      },
      {
        name: "month",
        width: 2,
        value: @schedule_placeholder[:month]
      },
      {
        name: "year",
        width: 4,
        value: @schedule_placeholder[:year]
      }
    ]
  } %>

  <%= render "components/autocomplete", {
    id: "time",
    name: "schedule[time]",
    label: {
      text: t("step_by_step_pages.schedule_datetime.date.label"),
      bold: true,
    },
    input: {
      options: time_options,
      value: @schedule_placeholder[:time],
    },
    error_items: issues_for(:time),
    data_attributes: {
      "autocomplete-without-narrowing-results": true,
    },
    width: "narrow"
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Schedule to publish",
    margin_bottom: true
  } %>

  <%= tag.p link_to("Cancel", @step_by_step_page, class: "govuk-link"), class: "govuk-body" %>
<% end %>
