
<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/page_title', links: links %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Edit steps'
%>

<%= render 'nav', step_by_step_page: @step_by_step_page, active:"edit-steps" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Step</th>
          <th class="govuk-table__header" scope="col">Title</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <%
          step_number = 1
        %>
        <% @step_by_step_page.steps.each do |step| %>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              <% if step.logic == 'number' %>
                <%= step_number %>
                <% step_number += 1 %>
              <% else %>
                <%= step.logic %>
              <% end %>
            </th>

            <th class="govuk-table__header" scope="row">
              <%= step.title %>
              <%= render 'shared/steps/broken-links-summary', step: step %>
            </th>

            <td class="govuk-table__cell govuk-table__cell--numeric">
              <%= link_to("Edit", edit_step_by_step_page_step_path(@step_by_step_page.id, step.id), class: "gem-c-button govuk-button gem-c-button--inline") %>
              <%= link_to("Delete", step_by_step_page_step_path(@step_by_step_page.id, step.id), method: 'delete', data: { confirm: "Are you sure?" }, class: "gem-c-button govuk-button govuk-button--warning gem-c-button--inline") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list stepByStepActions__list">
      <li>
        <%= render "govuk_publishing_components/components/button", {
          text: "Add a new step",
          href: new_step_by_step_page_step_path(@step_by_step_page),
          start: true
        } %>
      </li>
      <li class="govuk-!-margin-top-2">
        <%= render "govuk_publishing_components/components/button", {
          text: "Preview",
          href: preview_url(@step_by_step_page.slug, auth_bypass_id: @step_by_step_page.auth_bypass_id),
          secondary: true
        } %>
      </li>
      <li class="govuk-!-margin-top-3">
        <%= link_to "Check for broken links", {action: "check_links", step_by_step_page_id: @step_by_step_page.id}, class: "govuk-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @step_by_step_page.links_checked? %>
      <div class="broken-links-last-checked--summary">
        Last checked:
        <br><%= @step_by_step_page.links_last_checked_date %>
      </div>
    <% end %>
  </div>
</div>
