<%
  links = [
    {
      text: 'Step by steps',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title
    }
  ]
%>

<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, @step_by_step_page.title %>
<% content_for :context, 'Step by step' %>

<%= render 'nav', step_by_step_page: @step_by_step_page, active:"edit-steps" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/summary_list", @step_by_step_page_presenter.summary_list_params %>

    <%
      step_number = 0
      steps = @step_by_step_page.steps.map do |step|
        step_number = step_number + 1 if step.logic == 'number'
        {
          field: step.logic == 'number' ? step_number : step.logic,
          value: render('shared/steps/broken-links-summary', step: step).html_safe,
          edit: {
            href: edit_step_by_step_page_step_path(@step_by_step_page.id, step.id)
          },
          delete: {
            href: step_by_step_page_step_path(@step_by_step_page.id, step.id),
            data_attributes: {
              confirm: "Are you sure?",
              method: "delete"
            }
          }
        }
      end

      steps_section_config = {
        title: "Steps",
        id: "steps",
        borderless: true,
        items: steps
      }

      if @step_by_step_page.can_be_edited?
        steps_section_config.merge!(edit: {
          link_text: "Reorder",
          href: step_by_step_page_reorder_path(@step_by_step_page),
          data_attributes: {
            gtm: "reorder-steps"
          }
        })
      end
    %>
    <%= render "govuk_publishing_components/components/summary_list", steps_section_config do %>
      <% unless @step_by_step_page.steps.any? %>
        <p class="govuk-hint govuk-!-margin-bottom-7">No steps have been added yet.</p>
      <% end %>
    <% end %>

    <%= render "govuk_publishing_components/components/summary_list", @step_by_step_page_presenter.sidebar_settings %>

    <%= render "govuk_publishing_components/components/summary_list", @step_by_step_page_presenter.secondary_links_settings do %>
      <p class="govuk-body">Secondary content is content which is not linked to in the step by step, but has the step by step sidebar showing on it.</p>

      <p class="govuk-body">We use it for content which:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>helps you to complete a task in the journey, but is not the primary piece of content you need to visit to complete that task</li>
        <li>is optional and not useful enough to be included in the step by step</li>
      </ul>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-side">
      <div class="app-side__actions">
        <% if @step_by_step_page.can_be_edited? %>
          <%= render "govuk_publishing_components/components/button", {
            text: "Add a new step",
            href: new_step_by_step_page_step_path(@step_by_step_page)
          } %>
        <% end %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Preview",
          href: preview_url(@step_by_step_page.slug, auth_bypass_id: @step_by_step_page.auth_bypass_id),
          secondary: true
        } %>
        <%= button_to "Check for broken links", {action: "check_links", step_by_step_page_id: @step_by_step_page.id}, method: :post, class: "govuk-button gem-c-button gem-c-button--secondary-quiet" %>
      </div>
    </div>

    <div class="app-side">
      <%= render "govuk_publishing_components/components/metadata", {
        other: @step_by_step_page_presenter.summary_metadata
      } %>
    </div>
  </div>
</div>
