
<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/page_title', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Edit steps'
%>

<%= render 'nav', step_by_step_page: @step_by_step_page, active:"edit-steps" %>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Step</th>
          <th>Title</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>

      <tbody>
        <%
          step_number = 1
        %>
        <% @step_by_step_page.steps.each do |step| %>
          <tr>
            <th class="h4">
              <% if step.logic == 'number' %>
                <%= step_number %>
                <% step_number += 1 %>
              <% else %>
                <%= step.logic %>
              <% end %>
            </th>

            <th class="h4">
              <%= step.title %>
              <%= render 'shared/steps/broken-links-summary', step: step %>
            </th>

            <td class="text-right text-nowrap">
              <%= link_to("Edit", edit_step_by_step_page_step_path(@step_by_step_page.id, step.id), class: "btn btn-primary btn-sm") %>
              <%= link_to("Delete", step_by_step_page_step_path(@step_by_step_page.id, step.id), method: 'delete', data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-md-2 col-md-offset-10">
      <ul class="list-unstyled step-by-step-actions text-right">
        <li><%= link_to 'Add a new step', new_step_by_step_page_step_path(@step_by_step_page), class: "btn btn-primary btn-block step-action" %></li>
        <li><%= link_to 'Preview', preview_url(@step_by_step_page.slug, auth_bypass_id: @step_by_step_page.auth_bypass_id), class: "btn btn-success btn-block preview-button step-action" %></li>
      </ul>
    </div>
    <div>
      <%= button_to "Check for broken links", {action: "check_links", step_by_step_page_id: @step_by_step_page.id}, class: "btn btn-primary" %>
    </div>

    <% if @step_by_step_page.links_checked? %>
      <div>
        Links last checked
        <br>on <%= @step_by_step_page.links_last_checked_date %>
      </div>
    <% end %>
  </div>
</div>
