<%
  links = [
    {
      text: 'Step by steps',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title
    }
  ]
%>

<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, @step_by_step_page.title %>
<% content_for :context, 'Step by step' %>

<%= render 'nav', step_by_step_page: @step_by_step_page, active:"edit-steps" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/summary_list", @step_by_step_page_presenter.summary_list_params %>

    <table class="govuk-table step-list">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Step</th>
          <th class="govuk-table__header" scope="col">Title</th>
          <% if @step_by_step_page.can_be_edited? %>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
          <% end %>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <%
          step_number = 1
        %>
        <% if @step_by_step_page.steps.present? %>
          <% @step_by_step_page.steps.each do |step| %>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">
                <% if step.logic == 'number' %>
                  <%= step_number %>
                  <% step_number += 1 %>
                <% else %>
                  <%= step.logic %>
                <% end %>
              </th>

              <th class="govuk-table__header step-list__title" scope="row">
                <%= step.title %>
                <div class="step-broken-links__summary">
                  <%= render 'shared/steps/broken-links-summary', step: step %>
                </div>
              </th>

              <% if @step_by_step_page.can_be_edited? %>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  <%= link_to("Edit", edit_step_by_step_page_step_path(@step_by_step_page.id, step.id), class: "gem-c-button govuk-button gem-c-button--inline") %>
                  <%= link_to("Delete", step_by_step_page_step_path(@step_by_step_page.id, step.id), method: 'delete', data: { confirm: "Are you sure?" }, class: "gem-c-button govuk-button govuk-button--warning gem-c-button--inline") %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="3">
              <p class="govuk-hint">No steps have been added yet.</p>
            </tr>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render "govuk_publishing_components/components/summary_list", @step_by_step_page_presenter.sidebar_settings %>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-side">
      <div class="app-side__actions">
        <% if @step_by_step_page.can_be_edited? %>
          <%= render "govuk_publishing_components/components/button", {
            text: "Add a new step",
            href: new_step_by_step_page_step_path(@step_by_step_page)
          } %>
        <% end %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Preview",
          href: preview_url(@step_by_step_page.slug, auth_bypass_id: @step_by_step_page.auth_bypass_id),
          secondary: true
        } %>
        <%= button_to "Check for broken links", {action: "check_links", step_by_step_page_id: @step_by_step_page.id}, method: :post, class: "govuk-button gem-c-button gem-c-button--secondary-quiet" %>
      </div>
    </div>

    <div class="app-side">
      <%= render "govuk_publishing_components/components/metadata", {
        other: @step_by_step_page_presenter.summary_metadata
      } %>
    </div>
  </div>
</div>
