
<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/page_title', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<h1><%= @step_by_step_page.title %></h1>

<ul class="list-inline step-actions">
  <li><%= link_to 'Add a new step', new_step_by_step_page_step_path(@step_by_step_page), class: "btn btn-primary" %></li>
  <li><%= link_to 'Preview', preview_url(@step_by_step_page.slug, auth_bypass_id: @step_by_step_page.auth_bypass_id), class: "btn btn-primary" %></li>
  <li><%= link_to 'Edit title, intro or slug', edit_step_by_step_page_path(@step_by_step_page), class: "btn btn-primary" %></li>
  <li><%= link_to 'Choose navigation', step_by_step_page_navigation_rules_path(@step_by_step_page), class: "btn btn-primary" %></li>
  <% if @step_by_step_page.steps.length > 0 %>
    <li><%= link_to "Reorder steps", step_by_step_page_reorder_path(@step_by_step_page), class: "btn btn-primary" %></li>
  <% end %>
</ul>

<div class="row">
  <div class="col-md-7">
    <table class="table">
      <thead>
        <tr>
          <th>Step</th>
          <th>Title</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>

      <tbody>
        <%
          step_number = 1
        %>
        <% @step_by_step_page.steps.each do |step| %>
          <tr>
            <th class="h4">
              <% if step.logic == 'number' %>
                <%= step_number %>
                <% step_number += 1 %>
              <% else %>
                <%= step.logic %>
              <% end %>
            </th>

            <th class="h4">
              <%= step.title %>
              <%= render 'shared/steps/broken-links-summary', step: step %>
            </th>

            <td class="text-right text-nowrap">
              <%= link_to("Edit", edit_step_by_step_page_step_path(@step_by_step_page.id, step.id), class: "btn btn-primary btn-sm") %>
              <%= link_to("Delete", step_by_step_page_step_path(@step_by_step_page.id, step.id), method: 'delete', data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm") %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
    <div>
        <%= button_to "Check for broken links", {action: "check_links", step_by_step_page_id: @step_by_step_page.id}, class: "btn btn-primary" %>
    </div>
    <ul class="list-inline publish-actions">
      <% if @step_by_step_page.has_been_published? %>
        <li><%= link_to 'Unpublish', step_by_step_page_unpublish_path(@step_by_step_page), class: "btn btn-danger" %></li>
      <% else %>
        <li><%= link_to 'Delete', @step_by_step_page, method: :delete, data: { confirm: 'Delete this step by step page?' }, class: "btn btn-danger" %></li>
      <% end %>
      <% if @step_by_step_page.has_draft? %>
        <li><%= link_to 'Publish', step_by_step_page_publish_path(@step_by_step_page), class: "btn btn-primary" %></li>
      <% end %>
    </ul>
  </div>
</div>
