<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: @step_by_step_page
    },
    {
      text: 'Unpublish'
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/page_title', links: links %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Unpublish step by step'
%>

<%= render "govuk_publishing_components/components/error_alert", {
  message: "Warning",
  description: "You are unpublishing a page from GOV.UK. This can’t be undone."
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(step_by_step_page_unpublish_path(@step_by_step_page), method: :post) do %>
      <h3 class="govuk-heading-m">Unpublish</h3>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Redirect to"
        },
        name: :redirect_url,
        hint: sanitize("For example: <code>/redirect-to-replacement-page</code>")
      } %>

      <div class="form-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Unpublish step by step",
          data_attributes: {
            module: "confirm",
            message: "This will remove ‘#{@step_by_step_page.title}’ from the website.\n\n Are you sure?"
          },
          destructive: true
        } %>
      </div>
    <% end %>
  </div>
</div>
