<% content_for :title, 'Publish coronavirus business page' %>
<% content_for :context, 'www.gov.uk/coronavirus/business-support'%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render partial: "coronavirus/shared/github" %>
    <%= render partial: "coronavirus/shared/draft", locals: { path: coronavirus_update_business_path } %>
    <%= render partial: "coronavirus/shared/preview", locals: { path: @base_path } %>
    <%= render partial: "coronavirus/shared/publish", locals: { path: coronavirus_publish_business_path } %>
    <%= render partial: "coronavirus/shared/live", locals: { path: "coronavirus/business-support" } %>
  </div>
</div>
