<% content_for :title, "Publish gov.uk/coronavirus content" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div>
      <p class="govuk-body">Updating coronavirus landing page content:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Update the <a href="https://github.com/alphagov/govuk-coronavirus-content/blob/master/content/coronavirus_landing_page.yml">coronavirus content on Github</a></li>
        <li>Get it reviewed and approved</li>
        <li>Update the draft and check that it's OK</li>
        <li>Publish!</li>
      </ol>
    </div>

    <%= form_with(url: coronavirus_update_draft_path) do %>
      <%= render "govuk_publishing_components/components/button", {
          text: "Update draft",
          margin_bottom: true
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Preview",
        href: draft_govuk_url("/coronavirus"),
        target: "_blank",
        secondary: true
      } %>
    <% end %>

    <%= form_with(url: coronavirus_publish_path) do %>
      <%= render "govuk_publishing_components/components/radio", {
        name: "update-type",
        heading: "Update type",
        heading_size: "s",
        small: true,
        items: [
          {
            value: "minor",
            text: "Minor",
            checked: true
          },
          {
            value: "major",
            text: "Major"
          }
        ]
      } %>
      <%= render "govuk_publishing_components/components/button", {
          text: "Publish",
          margin_bottom: true
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: "View live version",
        href: published_url("coronavirus"),
        target: "_blank",
        secondary: true
      } %>
    <% end %>
  </div>
</div>
