<% content_for :title, "Publish coronavirus landing page" %>
<% content_for :context, "www.gov.uk/coronavirus" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render partial: "coronavirus/shared/github" %>
    <%= render partial: "coronavirus/shared/draft", locals: { path: coronavirus_update_landing_path } %>
    <%= render partial: "coronavirus/shared/preview", locals: { path: @base_path } %>
    <%= render partial: "coronavirus/shared/publish", locals: { path: coronavirus_publish_landing_path }%>
    <%= render partial: "coronavirus/shared/live", locals: { path: "coronavirus" } %>
  </div>
</div>
