<%= content_for :page_title, "Topics" %>
<h1>Topics</h1>

<table class="topics">
  <thead>
    <th>Topic</th>
    <th>Sub-topic</th>
    <th>State</th>
    <th></th>
  </thead>
  <tbody>
  <% @grouped_topics.each do |parent, subtopics| %>
    <tr class="parent-tag">
      <th rowspan="<%= subtopics.size+1 %>"><%= parent.title %></th>
    </tr>
    <% subtopics.each do |subtopic| %>
      <tr>
        <td><%= link_to subtopic.title, sector_lists_path(subtopic.panopticon_slug) %></td>
        <td><%= 'draft' if subtopic.draft? %></td>
        <td class="edit"><%= link_to "Edit", sector_lists_path(subtopic.panopticon_slug) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
