<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page)
    },
    {
      text: 'Choose navigation',
    }
  ]
%>

<%= render 'shared/steps/step_breadcrumb', links: links %>

<%= render 'shared/steps/form_notice', message: notice, status: "success" %>

<%= render 'shared/steps/page_title', links: links %>

<%= render 'shared/steps/heading',
  step_nav: @step_by_step_page.title,
  action: 'Choose on-page side navigation'
%>

<%= render 'step_by_step_pages/nav', step_by_step_page: @step_by_step_page, active: "choose-navigation" %>
<div class="govuk-grid-row">
    <%= form_for(step_by_step_page_navigation_rules_path(@step_by_step_page), method: :put) do |form| %>
      <div class="govuk-grid-column-full">
        <table class="govuk-table table-stepnav-rules" data-module="filterable-table">
          <thead class="govuk-table__head">
            <tr>
              <th class="govuk-table__header" scope="col">Page title</th>
              <th class="govuk-table__header" scope="col">Path</th>
              <th class="govuk-table__header" scope="col">Sidebar content of page</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <% if @step_by_step_page.navigation_rules.present? %>
              <% @step_by_step_page.navigation_rules.each do |navigation_rule| %>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><%= link_to(navigation_rule.title, preview_url(navigation_rule.base_path), class: "govuk-link") %></td>
                  <td class="govuk-table__cell"><%= navigation_rule.base_path %></td>
                  <td class="govuk-table__cell">
                    <%= render "govuk_publishing_components/components/select", {
                      id: "navigation_rules[#{navigation_rule.content_id}]",
                      label: "",
                      options: navigation_rule.options_with_selected,
                    } %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="3">
                  <p class="govuk-hint">No links exist</p>
                </tr>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if @step_by_step_page.navigation_rules.present? %>
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/button", {
            text: "Save"
          } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
