<% content_for :title, "Edit the #{@coronavirus_page.name}" %>
<% content_for :context, "www.gov.uk#{@coronavirus_page.base_path}" %>
<%= render "govuk_publishing_components/components/lead_paragraph", {
  text: t("coronavirus_pages.prepare.lead_paragraph", coronavirus_page_name: @coronavirus_page.name)
} %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "coronavirus_pages/shared/github", github_url: @coronavirus_page.github_url %>
    <%= render "coronavirus_pages/shared/draft" %>
    <%= render "coronavirus_pages/shared/preview", path: @coronavirus_page.base_path %>
    <%= render "coronavirus_pages/shared/publish" %>
    <%= render "coronavirus_pages/shared/live", path: @coronavirus_page.base_path %>
  </div>
</div>
