<%= render "govuk_publishing_components/components/heading", {
  text: "Subtopics",
  margin_bottom: 3,
} %>

<% if page.sorted_children.any? %>

  <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self, "Subtopics", { caption_classes: "govuk-visually-hidden" }) do |table| %>

    <%= table.head do %>
      <%= table.header "Title" %>
      <%= table.header "Status" %>
      <%= table.header "Actions" if gds_editor? && page.has_active_children? %>
    <% end %>

    <%= table.body do %>
      <% page.sorted_children.each do |child_page| %>
        <%= table.row do %>
          <%= table.cell render "govuk_publishing_components/components/document_list", {
            remove_top_border: true,
            items: [
              {
                link: {
                  text: child_page.title,
                  path: child_page
                },
                metadata: {
                  preview_link: link_to(child_page.base_path, Plek.new.website_root + child_page.base_path, target: "_blank", class: "govuk-link")
                },
                edit:  {
                  href: edit_polymorphic_path(page),
                  link_text: "Edit page"
                }
              }
            ]
          } %>

          <%= table.cell govuk_status(child_page) %>
          <%= table.cell link_to('Edit', edit_polymorphic_path(child_page), class: "govuk-link") if gds_editor? && page.has_active_children?%>
        <% end %>
      <% end %>
    <% end %>

  <% end %>

<% else %>
  <p class="govuk-body">No subtopic has been added for this page</p>
<% end %>
