<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
        text: "Links",
        font_size: "m",
        margin_bottom: 4
      } %>
  </div>
  <div class="govuk-grid-column-one-third app-grid-column--align-right">
    <ul class="govuk-summary-list__actions-list gem-c-summary-list__group-actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <%= link_to 'Add list',
          "#",
          class: %w(govuk-link govuk-link--no-visited-state)
        %>
      </li>
      <% if tag.lists.count > 1 %>
        <li class="govuk-summary-list__actions-list-item">
          <%= link_to 'Reorder list',
            "#",
            class: %w(govuk-link govuk-link--no-visited-state)
          %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% if tag.tagged_documents.empty? %>
  <p class="govuk-body">There are no documents tagged to this item.</p>
<% elsif tag.display_curated_links? %>
  <%= render 'shared/tags/curated_links_preview', tag_object: tag %>
<% else %>
  <%= render 'shared/tags/uncurated_links_preview', tag: tag %>
<% end %>
