<%= form_for @browse_page do |f| %>
  <% unless update %>
    <div class="govuk-!-margin-bottom-4">
      <%= render "govuk_publishing_components/components/select", {
        id: "mainstream_browse_page_parent_id",
        name: "mainstream_browse_page[parent_id]",
        label: "Parent (optional)",
        options: MainstreamBrowsePage.sorted_level_one
                  .map { |topic| {text: topic.title, value: topic.id, selected: topic.id == f.object.parent_id} }
                  .prepend( { text: "", value: "" } ),
      } %>
    </div>
  <% end %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: update ? "Slug (read only)" : "Slug",
    },
    hint: ("For example: lower-case-hyphen-separated" if update),
    id: "mainstream_browse_page_slug",
    name: "mainstream_browse_page[slug]",
    readonly: update,
    value: @browse_page[:slug],
    error_items: errors_for(@browse_page, :slug),
  } %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Title",
    },
    id: "mainstream_browse_page_title",
    name: "mainstream_browse_page[title]",
    value: @browse_page.title,
    error_items: errors_for(@browse_page, :title),
  } %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Description",
    },
    id: "mainstream_browse_page_description",
    name: "mainstream_browse_page[description]",
    value: @browse_page.description,
    error_items: errors_for(@browse_page, :description),
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: update ? "Save" : "Create",
    margin_bottom: true,
  } %>
<% end %>
