<%= content_for :page_title, "Edit mainstream browse page" %>

<h1>
  <span class="type">Mainstream browse page</span>

  Editing
  <% if @browse_page.has_parent? %>
    <%= @browse_page.parent.title %>:
  <% end %>
  <%= @browse_page.title %>
</h1>

<%= form_for @browse_page do |f| %>
  <%= f.text_field :slug %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>

  <% if @browse_page.child? %>
    <%= f.select :topics,
        options_from_collection_for_select(@topics_for_select, :id, :title_including_parent, @browse_page.topics.map(&:id)),
        {},
        { multiple: true,
          class: "select2",
          data: { placeholder: "Choose additional topics..." } } %>
  <% end %>

  <%= f.submit 'Save', class: 'btn-submit' %>
<% end %>
