<%= render 'shared/breadcrumbs', {
  links: [
    {
      text: 'Mainstream browse pages',
      href: mainstream_browse_pages_url
    },
    {
      text: @browse_page[:title],
      href: mainstream_browse_page_url(@browse_page)
    },
    {
      text: 'Manage subtopic ordering',
    }
  ]
} %>

<% content_for :title, govuk_tag_heading(tag: @browse_page, append: "Manage subtopic ordering") %>

<%= render 'shared/error_summary', object: @browse_page %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @browse_page, url: update_child_ordering_mainstream_browse_page_path, method: :patch do |f| %>
      <div class="govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/select", {
          id: "mainstream_browse_page_child_ordering",
          name: "mainstream_browse_page[child_ordering]",
          label: "Subtopic ordering",
          options: Tag::ORDERING_TYPES.map { |type| { text: type.capitalize, value: type, selected: @browse_page.child_ordering == type } }
        } %>
      </div>

      <%= render "govuk_publishing_components/components/reorderable_list", {
        items: @browse_page.sorted_children_that_are_not_archived.map do |child|
          {
            id: child.id,
            title: child.title,
          }
        end
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Save",
        margin_bottom: true
      } %>
    <% end %>
  </div>
</div>
