<%= tag_header @browse_page do %>
  <%= link_to "Edit page",
    edit_mainstream_browse_page_path(@browse_page) %>

  <% if @browse_page.can_have_children? %>
    <%= link_to "Manage child ordering",
      manage_child_ordering_mainstream_browse_page_path(@browse_page) %>
  <% end %>

  <% if @browse_page.may_publish? %>
    <%= link_to "Publish mainstream browse page",
               publish_mainstream_browse_page_path(@browse_page),
               method: :post %>
  <% end %>

  <% if @browse_page.child? %>
    <% if @browse_page.published? %>
      <%= link_to 'Archive mainstream browse page', propose_archive_mainstream_browse_page_path(@browse_page) %>
    <% else %>
      <%= link_to 'Remove mainstream browse page', archive_mainstream_browse_page_path(@browse_page),
        method: 'post',
        data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
<% end %>

<%= render 'shared/tags/metadata', resource: @browse_page %>
<%= render 'shared/tags/children', resource: @browse_page %>

<% if @browse_page.topics.any? %>
  <section class="children">
    <header class="heading-with-actions">
      <h2>Specialist sector pages</h2>
    </header>

    <%= render 'shared/tags/table',
          resources: @browse_page.topics,
          include_children_column: false,
          empty_message: "No topics exist yet." %>
  </section>
<% end %>

<% if @browse_page.child? %>
  <%= render 'shared/tags/lists_of_links_preview', tag: @browse_page %>
<% end %>
