<%= render 'shared/breadcrumbs', {
  links: [
    {
      text: 'Mainstream browse pages',
      href: mainstream_browse_pages_url
    },
    *([
      text: @browse_page.parent[:title],
      href: mainstream_browse_page_url(@browse_page.parent)
    ] if @browse_page.parent.present? ),
    {
      text: @browse_page[:title]
    }
  ]
} %>

<% content_for :title, govuk_heading_with_parent(@browse_page) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="govuk-!-margin-bottom-3">
      <%= render "govuk_publishing_components/components/summary_list", {
        borderless: true,
        title: "Content",
        items: [
          {
            field: "URL",
            value: link_to(@browse_page.base_path, Plek.new.website_root + @browse_page.base_path, target: "_blank", class: "govuk-link")
          },
          *([
            field: "Parent",
            value: link_to(@browse_page.parent[:title], mainstream_browse_page_url(@browse_page.parent), class: "govuk-link")
          ] if @browse_page.parent.present? ),
          {
            field: "Description",
            value: @browse_page[:description].present? ? @browse_page[:description] : "Empty"
          },
          {
            field: "Status",
            value: govuk_status(@browse_page)
          },
          *([
            field: "Subtopic ordering",
            value: @browse_page.child_ordering.capitalize
          ] if @browse_page.level_one? )
        ],
        edit: {
          href: edit_mainstream_browse_page_path(@browse_page),
          link_text: "Edit page"
        }
      } %>
    </section>

    <% if @browse_page.can_have_children? %>
      <section class="govuk-!-margin-bottom-3">
        <%= render "shared/list-children-pages", page: @browse_page %>
      </section>
    <% end %>

    <% if @browse_page.topics.any? %>
      <section class="govuk-!-margin-bottom-3">
        <%= render "list-specialist-sector-pages" %>
      </section>
    <% end %>

    <% if @browse_page.level_two? %>
      <section class="govuk-!-margin-bottom-3">
        <%= render 'shared/list-links-preview', tag: @browse_page %>
      </section>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-side__wrapper">
      <div class="app-side">
        <div class="app-side__actions">
          <% if @browse_page.may_publish? %>
            <div class="govuk-!-margin-bottom-1">
              <%= link_to "Publish",
                publish_mainstream_browse_page_path(@browse_page),
                method: :post,
                class: %w(govuk-button),
                data: { module: "govuk-button" } %>
            </div>
          <% end %>
          <% if @browse_page.can_have_children? %>
            <div class="govuk-!-margin-bottom-1">
              <% if gds_editor? %>
                <%= link_to "Add subtopic page",
                  new_polymorphic_path(@browse_page, parent_id: @browse_page.id),
                  class: %w(govuk-link govuk-link--no-visited-state) %>
              <% end %>
            </div>
            <div class="govuk-!-margin-bottom-1">
              <%= link_to "Manage subtopic ordering",
                manage_child_ordering_mainstream_browse_page_path(@browse_page),
                class: %w(govuk-link govuk-link--no-visited-state)
              %>
            </div>
          <% end %>
          <% if @browse_page.level_two? %>
            <div class="govuk-!-margin-bottom-1">
              <% if @browse_page.published? %>
                <%= link_to 'Archive mainstream browse page',
                  propose_archive_mainstream_browse_page_path(@browse_page),
                  class: %w(govuk-link govuk-link--no-visited-state)
                %>
              <% else %>
                <%= link_to 'Delete page', archive_mainstream_browse_page_path(@browse_page),
                  method: 'post',
                  data: { confirm: 'Are you sure?' },
                  class: %w(govuk-link app-link--destructive)
                %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </aside>
  </div>
</div>
