<% content_for :title, t("coronavirus.live_stream.title") %>
<% content_for :context, "Make changes to the coronavirus landing page live stream" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <%= render "govuk_publishing_components/components/heading", {
        text: t("coronavirus.live_stream.instructions.one.step"),
        padding: true
      } %>
      <% unless livestream_editor? %>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <%= t("coronavirus.live_stream.instructions.one.summary.title") %>
            </span>
          </summary>
          <div class="govuk-details__text">
            <%= render_markdown t("coronavirus.live_stream.instructions.one.summary.content_markdown") %>
          </div>
        </details>
      <% end %>
      <%= form_with(url: coronavirus_live_stream_path(@live_stream), method: :put) do %>
        <%= label_tag(:url, t("coronavirus.live_stream.instructions.one.label"), class: "govuk-label" ) %>
        <%= text_field_tag(:url, nil,
          class: "govuk-input govuk-!-margin-bottom-6",
          placeholder: t("coronavirus.live_stream.instructions.one.url_placeholder")
          ) %>

        <%= submit_tag(t("coronavirus.live_stream.instructions.one.button_text"), class: "govuk-button") %>
      <% end %>
      <%= render "govuk_publishing_components/components/heading", {
        text: t("coronavirus.live_stream.instructions.two.step"),
        padding: true
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: t("coronavirus.live_stream.instructions.two.button_text"),
        href: draft_govuk_url("/coronavirus"),
        target: "_blank",
        secondary: true
      } %>
      </div>
      <%= render "govuk_publishing_components/components/heading", {
        text: t("coronavirus.live_stream.instructions.three.step"),
        padding: true
      } %>
      <div>
        <%= link_to t("coronavirus.live_stream.instructions.three.button_text"), coronavirus_live_stream_publish_path(@live_stream), method: :post, class: "govuk-button" %>
      </div>
      <%= render "govuk_publishing_components/components/heading", {
        text: t("coronavirus.live_stream.instructions.four.step"),
        padding: true
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: t("coronavirus.live_stream.instructions.four.button_text"),
        href: published_url("coronavirus"),
        target: "_blank",
        secondary: true
      } %>
    </div>
  </div>
</div>
