<%= form_tag({}, enforce_utf8: false, method: :get) do %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Title or URL",
      bold: true
    },
    name: "title_or_url",
    value: params[:title_or_url],
    id: "title_or_url"
  } %>

  <div class="govuk-form-group">
    <%= render "govuk_publishing_components/components/label", {
      text: "Status",
      html_for: "status",
      bold: true
    } %>
    <%= render "govuk_publishing_components/components/select", {
      id: "status",
      name: "status",
      label: "",
      full_width: true,
      options: StepByStepFilter::Options.statuses(params[:status])
    } %>
  </div>

  <%= render "govuk_publishing_components/components/button", {
    text: "Filter",
    margin_bottom: true
  } %>

  <p class="govuk-body">
    <%= link_to "Clear all filters",
      step_by_step_pages_path,
      class: "govuk-link govuk-link--no-visited-state"
    %>
  </p>
<% end %>
