<%= form_for resource, html: { class: 'resource' } do |f| %>
  <% if local_assigns[:parent].present? %>
    <p>
      <label for="parent-name">Parent:</label>
      <%= text_field_tag 'parent-name', "#{parent.title} (#{parent.base_path})", disabled: true %>
      <%= f.hidden_field :parent_id, value: parent.id %>
    </p>
  <% end %>

  <%= f.text_field :slug %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>

  <div class="form-actions">
    <button type="submit">
      <%= resource.new_record? ? 'Create' : 'Save' %>
    </button>
  </div>
<% end %>
