<table class="tags-list">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">URL</th>
      <th scope="col">State</th>
      <% unless local_assigns[:include_children_column] == false %>
        <th scope="col">Children</th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if resources.any? %>
      <% resources.each do |resource| %>
      <tr>
        <td><%= link_to resource.title, polymorphic_path(resource) %></td>
        <td><%= link_to resource.base_path, Plek.new.website_root + resource.base_path %></td>
        <td><%= status(resource.state, resource.state) %> <%= beta_tag if resource.beta? %></td>

        <% unless local_assigns[:include_children_column] == false %>
          <td class='children'>
            <ul>
            <% resource.sorted_children.each do |child_tag| %>
              <li>
                <%= link_to child_tag.title, polymorphic_path(child_tag) %>
                <%= status('draft', :draft) if child_tag.draft? %>
                <%= beta_tag if child_tag.beta? %>
              </li>
            <% end %>
            </ul>
          </td>
        <% end %>
        <td>
          <% if gds_editor? %>
            <ul class="child-actions">
              <li><%= link_to 'Edit', edit_polymorphic_path(resource) %></li>
            </ul>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="100%" class="no-entries">
          <%= local_assigns[:empty_message] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
