<%
  left_col = "col-md-7"
  right_col = "col-md-5"
%>

<%= render "shared/steps/form_errors", resource: step %>

<div class="form-group">
  <div class="row">
    <div class="<%= left_col %>">
      <%= form.text_field :title, label: "Step title" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= form.label :logic, "Step labelling", default_builder: true %>

  <div class="radio">
    <label>
      <%= form.radio_button :logic, "number", default_builder: true, checked: true %>
      number
    </label>
  </div>

  <div class="radio">
    <label>
      <%= form.radio_button :logic, "and", default_builder: true %>
      and
    </label>
  </div>

  <div class="radio">
    <label>
      <%= form.radio_button :logic, "or", default_builder: true  %>
      or
    </label>
  </div>
</div>

<div class="form-group">
  <%= form.label :optional, "Is this step optional?", default_builder: true %>

  <div class="help-block">You must select one of these so that user activity is tracked correctly in Google Analytics.</div>

  <div class="radio">
    <label>
      <%= form.radio_button :optional, "false", default_builder: true, checked: true %>
      essential
    </label>
  </div>

  <div class="radio">
    <label>
      <%= form.radio_button :optional, "true", default_builder: true %>
      optional
    </label>
  </div>
</div>

<div class="form-group">
  <% if step.broken_links && step.broken_links.count > 0 %>
    <div class="broken-links">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <%= render 'shared/steps/broken-links-summary', step: step %>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="warning">
                <th>URI</th>
                <th>Status</th>
                <th>Last checked</th>
                <th>Problem summary</th>
                <th>Errors</th>
                <th>Warnings</th>
                <th>Suggested fix</th>
              </tr>
            <thead>
            <tbody>
              <% step.broken_links.each do |link| %>
                <tr>
                  <td><%= link['uri'] %></td>
                  <td><%= link['status'] %></td>
                  <td><%= link['checked'] %></td>
                  <td><%= link['problem_summary'] %></td>
                  <td>
                    <ul>
                    <% link['errors'].each do |error| %>
                      <li><%= error %></li>
                    <% end %>
                    </ul>
                  </td>
                  <td>
                    <ul>
                    <% link['warnings'].each do |warning| %>
                      <li><%= warning %></li>
                    <% end %>
                    </ul>
                  </td>
                  <td><%= link['suggested_fix'] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="<%= left_col %>">
      <%= form.text_area :contents, class: "form-control", label: "Content, tasks and links in this step", rows: 8 %>
    </div>

    <div class="<%= right_col %>">
      <%= render 'shared/steps/markdown_help' %>
    </div>
  </div>
</div>


<div class="form-group">
  <%= form.submit "Save step", class: "btn btn-primary" %>
</div>
<div class="form-group">
  <%= link_to "Cancel", @step_by_step_page %>
</div>
