<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "shared/steps/form_errors", resource: step %>

    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Step Title"
      },
      name: "step[title]",
      value: step.title
    } %>

    <%= render "govuk_publishing_components/components/radio", {
      name: "step[logic]",
      heading: "Step labelling",
      items: [
        {
          value: "number",
          text: "number",
          checked: !step.logic.present? || step.logic == "number"
        },
        {
          value: "and",
          text: "and",
          checked: step.logic == "and"
        },
        {
          value: "or",
          text: "or",
          checked: step.logic == "or"
        }
      ]
    } %>

    <%= render "govuk_publishing_components/components/radio", {
      name: "step[optional]",
      heading: "Is this step optional?",
      hint: "You must select one of these so that user activity is tracked correctly in Google Analytics.",
      items: [
        {
          value: "false",
          text: "essential",
          checked: !step.optional.present? || !step.optional
        },
        {
          value: "true",
          text: "optional",
          checked: step.optional
        }
      ]
    } %>
  </div>
</div>

<div class="form-group">
  <% if step.broken_links && step.broken_links.count > 0 %>
    <div class="broken-links">
      <div class="panel panel-warning">
        <div class="panel-heading" role="tab" id="brokenLinkHeading">
          <a role="button" class="collapsed broken-links-accordion__collapsible-link" data-toggle="collapse" data-parent="#brokenLinksAccordion" href="#brokenLinkBody" aria-expanded="true" aria-controls="brokenLinkBody">
            <p class="panel-title h4 broken-links-accordion__title">
              <%= render 'shared/steps/broken-links-summary', step: step %>
              
              <button class="broken-links-accordion__indicator btn btn-success btn-xs">
                <span class="broken-links-accordion__indicator--show">
                  <span class="broken-links-accordion__indicator-text">Show</span>
                  <i class="glyphicon glyphicon-plus"></i>
                </span>

                <span class="broken-links-accordion__indicator--hide">
                  <span class="broken-links-accordion__indicator-text">Hide</span>
                  <i class="glyphicon glyphicon-minus"></i>
                </span>
              </button>
            </p>
          </a>
        </div>
        <div id="brokenLinkBody" class="panel-collapse collapse" role="tabpanel" aria-labelledby="brokenLinkHeading">
          <div class="list-group">
            <% step.broken_links.each.with_index do |link, index| %>
              <a href="<%= link['uri'] %>" class="list-group-item" target="_blank">
                <h4 class="list-group-item-heading"><%= link['uri'] %></h4>
                <p class="list-group-item-text">
                  <dl class="dl">
                    <dt>Last checked</dt>
                    <dd><%= link['checked'].to_datetime.to_formatted_s(:rfc822) %></dd>
                    
                    <% if link['errors'] && link['errors'].count > 0 %>
                      <dt>Errors</dt>
                      <dd>
                        <% link['errors'].each do |error| %>
                          <%= error %> <br/>
                        <% end %>
                      </dd>
                    <% end %>
                    
                    <% if link['warnings'] && link['warnings'].count > 0 %>
                      <dt>Warnings</dt>
                      <dd>
                        <% link['warnings'].each do |warning| %>
                          <%= warning %> <br/>
                        <% end %>
                      </dd>
                    <% end %>
                  </dl>
                </p>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/textarea", {
      label: {
        text: "Content, tasks and links in this step"
      },
      name: :contents,
      value: step.contents,
      rows: 15
    } %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render 'shared/steps/markdown_help' %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save"
    } %>
  </div>
  <div class="govuk-grid-column-full govuk-!-margin-top-3">
    <%= link_to 'Cancel', @step_by_step_page, class: "govuk-link" %>
  </div>
</div>
