<%
  left_col = "col-md-7"
  right_col = "col-md-5"
%>

<%= render "shared/steps/form_errors", resource: step %>

<div class="form-group">
  <div class="row">
    <div class="<%= left_col %>">
      <%= form.text_field :title, label: "Step title" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= form.label :logic, "Step labelling", default_builder: true %>

  <div class="radio">
    <label>
      <%= form.radio_button :logic, "number", default_builder: true, checked: true %>
      number
    </label>
  </div>

  <div class="radio">
    <label>
      <%= form.radio_button :logic, "and", default_builder: true %>
      and
    </label>
  </div>

  <div class="radio">
    <label>
      <%= form.radio_button :logic, "or", default_builder: true  %>
      or
    </label>
  </div>
</div>

<div class="form-group">
  <%= form.label :optional, "Is this step optional?", default_builder: true %>

  <div class="help-block">You must select one of these so that user activity is tracked correctly in Google Analytics.</div>

  <div class="radio">
    <label>
      <%= form.radio_button :optional, "false", default_builder: true, checked: true %>
      essential
    </label>
  </div>

  <div class="radio">
    <label>
      <%= form.radio_button :optional, "true", default_builder: true %>
      optional
    </label>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="<%= left_col %>">
      <%= form.text_area :contents, class: "form-control", label: "Content, tasks and links in this step", rows: 8 %>
    </div>

    <div class="<%= right_col %>">
      <%= render 'shared/steps/markdown_help' %>
    </div>
  </div>
</div>

<% unless has_help_section?(step) %>
  <p class="checkbox">
    <label>
      <input type="checkbox" data-toggle="collapse" data-target="#help-section" aria-expanded="false" aria-controls="help-section" />
      Include help section
    </label>
  </p>
<% end %>

<div class="<%= 'collapse' unless has_help_section?(step) %>" id="help-section">
  <div class="<%= 'well' unless has_help_section?(step) %>">

    <h3>"Get help completing this step" section</h3>

    <div class="form-group">
      <div class="row">
        <div class="<%= left_col %>">
          <%= form.label :optional_heading, "Section heading", default_builder: true %>
          <%= form.text_field :optional_heading, default_builder: true  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="<%= left_col %>">
          <%= form.text_area :optional_contents, class: "form-control", label: "Tasks", rows: 8 %>
        </div>

        <div class="<%= right_col %>">
          <%= render 'shared/steps/markdown_help' %>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="form-group">
  <%= form.submit "Save step", class: "btn btn-primary" %>
</div>
<div class="form-group">
  <%= link_to "Cancel", @step_by_step_page %>
</div>
