<%
  links = [
    {
      text: 'Step by step publisher',
      href: step_by_step_pages_path
    },
    {
      text: 'Edit content',
      href: @step_by_step_page
    },
    {
      text: 'Edit step'
    }
  ]
%>
<%= render 'shared/steps/step_breadcrumb', links: links %>

<h1><%= @step_by_step_page.title %></h1>

<h2>Edit: <%= @step.title %></h2>

<%= form_for @step, url: step_by_step_page_step_path(@step.step_by_step_page_id, @step) do |form| %>
  <%= render "form", step: @step, form: form %>
<% end %>
