<%
  links = [
    {
      text: 'Step by steps',
      href: step_by_step_pages_path
    },
    {
      text: @step_by_step_page.title,
      href: step_by_step_page_path(@step_by_step_page)
    },
    {
      text: 'Secondary links'
    }
  ]
%>

<% content_for :breadcrumbs, render('shared/steps/step_breadcrumb', links: links) %>
<% content_for :title, @step_by_step_page.title %>
<% content_for :context, 'Secondary links' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-6">
      <%= render_markdown t("guidance.secondary_content_links.guidance_markdown") %>
    </div>

    <% if @step_by_step_page.can_be_edited? %>
      <%= form_for(@secondary_content_link, url: step_by_step_page_secondary_content_links_path) do |form| %>
        <%= render "shared/steps/form_errors", resource: @step_by_step_page %>

        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t("secondary_content_links.index.base_path.label")
          },
          hint: t("secondary_content_links.index.base_path.hint"),
          name: "base_path",
          heading_size: "m"
        } %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Add secondary link"
        } %>
      <% end %>
    <% end %>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row secondary-links govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Existing secondary links",
      margin_bottom: 5
    } %>

    <table class="govuk-table" data-module="filterable-table">
    <thead class="govuk-table__head">
      <tr>
        <th class="govuk-table__header" scope="col">Page title</th>
        <th class="govuk-table__header" scope="col">Path</th>
        <% if @step_by_step_page.can_be_edited? %>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
        <% end %>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% if @secondary_content_links.present? %>
        <% @secondary_content_links.each do |link| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= link_to(link.title, draft_govuk_url(link.base_path), class: "govuk-link") %></td>
            <td class="govuk-table__cell"><%= link.base_path %></td>
            <% if @step_by_step_page.can_be_edited? %>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <%= link_to("Delete", step_by_step_page_secondary_content_link_path(@step_by_step_page.id, link.id), method: 'delete', data: { confirm: "Are you sure?" }, class: "gem-c-button govuk-button govuk-button--warning") %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="3">
            <p class="govuk-hint">No secondary links have been added yet.</p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
