<% if gds_editor? %>
<span class="gem-c-phase-banner__banner-item">
  <a class="govuk-link govuk-link--no-visited-state <%= active_navigation_item == 'mainstream_browse_pages' ? 'active' : nil %>"
     href="<%= mainstream_browse_pages_path %>">Mainstream browse pages</a>
</span>
<% end %>
<span class="gem-c-phase-banner__banner-item">
  <a class="govuk-link govuk-link--no-visited-state <%= active_navigation_item == 'topics' ? 'active' : nil %>"
     href="<%= topics_path %>">Specialist sector pages</a>
</span>
<% if gds_editor? %>
<span class="gem-c-phase-banner__banner-item">
  <a class="govuk-link govuk-link--no-visited-state <%= active_navigation_item == 'steps' ? 'active' : nil %>"
     href="<%= step_by_step_pages_path %>">Step by step pages</a>
</span>
<% end %>
