<% content_for :page_title, ' | GOV.UK Collections Publisher' %>

<% content_for :head do %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'application_bootstrap', media: 'all' %>
<% end %>

<% content_for :navbar_items do %>
  <% if gds_editor? %>
    <li class="<%= active_navigation_item == 'mainstream_browse_pages' ? 'active' : nil %>">
      <%= link_to 'Mainstream browse pages', mainstream_browse_pages_path %>
    </li>
  <% end %>

  <% unless livestream_editor? %>
    <li class="<%= active_navigation_item == 'topics' ? 'active' : nil %>">
      <%= link_to 'Specialist sector pages', topics_path %>
    </li>
  <% end %>

  <% if gds_editor? %>
    <li class="<%= active_navigation_item == 'step_by_step_pages' ? 'active' : nil %>">
      <%= link_to 'Step by step pages', step_by_step_pages_path %>
    </li>
  <% end %>

  <% if coronavirus_editor? %>
    <li class="<%= active_navigation_item == 'coronavirus' ? 'active' : nil %>">
      <%= link_to 'Coronavirus pages', coronavirus_index_path %>
    </li>
  <% end %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
