<% content_for :app_title, 'Collections Publisher' %>
<% content_for :page_title, ' | GOV.UK Collections Publisher' %>

<% content_for :head do %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<% content_for :navbar_items do %>
  <% if gds_editor? %>
    <li class='<%= active_navigation_item == 'mainstream_browse_pages' ? 'active' : nil %>'>
      <%= link_to 'Mainstream browse pages', mainstream_browse_pages_path %>
    </li>
  <% end %>

  <li class='<%= active_navigation_item == 'topics' ? 'active' : nil %>'>
    <%= link_to 'Topics', topics_path %>
  </li>

  <% if gds_editor? %>
    <li class='<%= active_navigation_item == 'taxons' ? 'active' : nil %>'>
      <%= link_to 'Taxons', taxons_path %>
    </li>
  <% end %>
<% end %>


<% if user_signed_in? %>
  <% content_for :navbar_right do %>
    <%= link_to current_user.name, Plek.current.find('signon') %>
    &bull; <%= link_to 'Sign out', gds_sign_out_path %>
  <% end %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<% content_for :content do %>
  <% flash.each do |key,message| %>
    <div class="alert <%= alert_classes(key) %>">
      <%= message %>
    </div>
  <% end %>
  <%= yield %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
